body{
    margin: 0;
}
header{
    width: 1180px;height: 80px;
    margin: auto;
}
h1,h3,h2,ul,li{
    padding: 0; margin: 0;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}
.box{
    height: 40px;
    background: #3b8de3;
}
.con{
    width: 1180px;
    height: 100%;
    margin: auto;
}
.left{
    width: 690px;
    height: 100%;
    float: left;
}
.right{
    width:  240px;
    height: 100%;
    float: right;
}
.box a{
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: white;
}
.left a{
    /*无论块行元素 只要进行浮动 那么能够在一行显示并设置宽高 忽略空格*/
    width: 20%;
    height: 100%;
}
.right a{
    width: 33.333%;
    height: 100%;
}
body .active{
    background: white;
    color: #3b8de3;
    border-top:3px solid antiquewhite;
}
.login{
    background:url("../images/1.png") no-repeat -317px -500px;
}
.box a:hover{
    background: white;
    color: #3b8de3;
    border-top:3px solid antiquewhite;
}
.sanjiao{
    width: 0;height: 0;
    border-top: 10px solid #ffffff;
    border-left:5px solid #3b8de3;
    border-right:5px solid #3b8de3;
    position: absolute;
    right: 170px; top:95px;
}
/*热门城市
    所有关于文字修饰的属性都能继承 其他属性不能继承
    */
.hot{
    width: 1180px;
    margin: auto;
    padding: 10px 0;
    color: #3b8de3;
    font-size: 14px;
}
.hot span{
    color: black;
    float: left;
}
.hot a{
    float: left;
    text-decoration: none;
    color: #3b8de3;
    padding-left: 5px;
}

.wheel-box{
    width: 100%;height: 393px;
    position: relative;
    margin-top: 10px;
}
.lunbo1{
    width: 100%;height: 100%;
    background:url("../images/lunbo1.png") no-repeat center;
    position: absolute;left: 0;top: 0;
    z-index: 2;
}
.lunbo2{
    width: 100%;height: 100%;
    background:url("../images/lunbo2.png") no-repeat center;
    position: absolute;left: 0;top: 0;
    z-index: 1;
}
.btns{
    position: absolute;
    width: 200px; height:20px;
    position: absolute; right: 20px;bottom: 20px;
    z-index: 3;
}
.btn{
    width: 50px;height: 5px;background: black;
    float: left;margin: 0 10px;
}
.btn active{
    width: 50px;height: 5px;background: orange;
    float: left;margin: 0 10px;
}

/*热门航班*/
.hangxianBox{
    margin-top: 50px;
    width: 80%;
    margin: auto;
    height: 352px;
}
.hangxianBox .out{
    width: 1180px;
    height: 100%;
}
.out .daohang{
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 48px;
}
.daohang span{
    float: left;
    font-size: 28px;
    color: #555555;
    text-align: center;

}
.daohang .city{
    height: 42px;
    width: 60%;
    float: right;
}
.daohang .city a{
    float: left;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    list-style: none;
    width: 40px;
    color: #555555;
    padding: 10px 15px;
}
.daohang .city a:hover{
    color: #3b8de3;
    border-bottom: 2px solid #3b8de3;
    height: 23px;
}

.out .tickten{
    width: 1200px;
    height: 308px;
    float: left;
}
.tickten .quanguo{
    position: relative;
    float: left;
    width: 240px;
    height: 154px;
}
.quanguo .i{
    color: #0055AA;
    width: 225px;
    height: 140px;
    margin-right: 20px;
    margin-top: 20px;
    background: #eeeeee;
    background: url("../images/jipiao.png") no-repeat;
}
.quanguo .i:hover{
    color: #000;
}

.i .top{
    height: 40px;
    overflow: hidden;
    padding-top: 5px;
}
.top .start{
    width: 85px;
    text-align: right;
    line-height: 40px;
    display: inline-block;

}
.top .jiantou{

    width: 40px;
    height: 30px;
    background: url("../images/1.png") no-repeat -30px -60px;
    text-align: center;
    line-height: 40px;
    display: inline-block;

}
@keyframes pingyi {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(5px);
    }
}
.quanguo:hover .jiantou{
    animation: pingyi .5s linear 1;
    animation-fill-mode: forwards;
}
.top .end{
    width: 85px;
    line-height: 40px;
    text-align: left;
    display: inline-block;

}
.i .mid{
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
}
.i .down{
    text-align: center;
    line-height: 48px;
    padding-top: 20px;
}
.down .ji{
    float: left;

    position: absolute;
    top: 130px;
    left: 30px;
    width: 30px;
    height: 20px;
    background: url("../images/1.png") no-repeat -30px -110px;



}
.down .type1{
    font-size: 14px;


}
.down .type2{

    color: red;

}
.down .type3{
    font-size: 28px;
    color: red;

}

/*导航栏*/
.piao{
    width: 1180px;
    height: 80px;
    margin: auto;
    background: rgb(247,247,245);
}
.piao-left{
    width: 170px;
    height:100%;
    float: left;
}
.piao-right{
    width: 1010px;
    height:100%;
    float: left;
}
.piao-left h3{
    width: 100%;height: 100%;
    line-height: 80px;
    text-align: center;
}
.piao-right li{
    float: left;
    width: 25%;height: 100%;
    /*修改鼠标为手型*/
    cursor: pointer;
}
.arrow{
    width: 45px;
    height: 80px;
    float: right;
    background: url("../images/main.png") no-repeat -360px -122px;
}
.icon{
    width: 66px;
    height: 66px;
    float: left;margin-top: 10px;margin-left: 20px;
}
.icon-out{
    width: 100%;height:100% ;
    background: url("../images/main.png") no-repeat -163px -130px;
}
@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
.icon-in1{
    width: 100%;height:100% ;
    background: url("../images/main.png") no-repeat -135px -60px;
}
.icon-in1:hover{
    animation: ani .5s linear infinite;
    animation-direction: alternate;
}
.icon-in2{
    width: 100%;height:100% ;
    background: url("../images/main.png") no-repeat -188px -60px;
}
.icon-in2:hover{
    animation: ani .5s linear infinite;
    animation-direction: alternate;
}
.icon-in3{
    width: 100%;height:100% ;
    background: url("../images/main.png") no-repeat -240px -60px;
}
.icon-in3:hover{
    animation: ani .5s linear infinite;
    animation-direction: alternate;
}
.icon-in4{
    width: 100%;height:100% ;
    background: url("../images/main.png") no-repeat -293px -60px;
}
.icon-in4:hover{
    animation: ani .5s linear infinite;
    animation-direction: alternate;
}
.text{
    width: 120px;
    height: 50px;
    float: left; margin-top: 20px;
}
.text-title{
    color: #3b8de3;
    text-align: center;
}
.text-info{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #666666;
    font-size: 13px;
}

/*第三块*/
@keyframes tubiao {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
.threeOutBox{
    width: 1180px;height:271px;
    margin: auto;
}
.threeInBox{
    width: 1180px;height:271px;
    margin-top: 10px;
    float: left;
}
.threeInBox .left{
    width: 405px;height:271px;
}
.leftIn1{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn1icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background: url("../images/main.png") no-repeat 15px -40px;
}
.leftIn1icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn1text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.leftIn2{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn2icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background:url("../images/main.png") no-repeat -240px -60px;
}
.leftIn2icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn2text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.leftIn3{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn3icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background: url("../images/main.png") no-repeat -55px -110px;
}
.leftIn3icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn3text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.leftIn4{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn4icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background: url("../images/main.png") no-repeat -135px -60px;
}
.leftIn4icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn4text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.leftIn5{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn5icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background: url("../images/main.png") no-repeat -55px -40px;
}
.leftIn5icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn5text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.leftIn6{
    width: 200px;height:88px;
    border: 1px solid gainsboro;
    float: left;
}
.leftIn6icon{
    margin-top: 15px;
    width: 60px;height:60px ;
    float: left;
    background: url("../images/main.png") no-repeat -55px -180px;
}
.leftIn6icon:hover{
    animation: tubiao .5s linear infinite;
    animation-direction: alternate;
}
.leftIn6text{
    margin-top: 38px;
    line-height: 100%;
    font-size: 18px;
}
.threeInBox .right{
    width: 770px;height:269px;
    float: right;
    border: 1px solid gainsboro;
}
.threeInBox .right .l{
    float: left;
    width: 58%;height: 100%;
    border: 1px solid gainsboro;
}
.threeInBox .right .r{
    float: left;
    width: 41%;height: 100%;
    border: 1px solid gainsboro;
}
.ldaohang{
    margin-top: 30px;
    width: 100%; height: 30px;
}
.ldaohangleft{
    margin-left: 20px;
    width: 110px;height: 100%;
    float: left;
    font-size: 24px;
    text-align: center;
}
.ldaohangright{
    margin-right: 20px;
    width: 70px;height: 100%;
    float: right;
    font-size: 12px;
    text-align: center;
}
.lneirong{
    margin-top: 20px;
    margin-left: 25px;
    width: 405px;height: 180px;
}
.rdaohang{
    margin-top: 30px;
    width: 100%; height: 30px;
}
.rdaohangleft{
    margin-left: 20px;
    width: 110px;height: 100%;
    float: left;
    font-size: 24px;
    text-align: center;
}
.rdaohangright{
    margin-top: 10px;
    margin-right: 20px;
    width: 70px;height: 100%;
    float: right;
    font-size: 12px;
    text-align: center;
}
.rneirong{
    margin-top: 20px;
    margin-left: 25px;
    width: 405px;height: 180px;
}
.rneirong a{
    text-decoration: none;
    color: #3b8de3;
}
.rneirong :hover{
    color: orange;
}
/*底部导航*/
@keyframes foottubiao {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
.foot-main{
    margin-top: 30px;
    width: 100%;height: 50px;
    background: #3b8de3;
}
.foot-nav{
    width: 1180px;
    height: 56px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.foot-nav ul{
    padding: 5px 0;
    width: 1281px;
    position: absolute;
    top: 0;
    left: 0;
}
.foot-nav li{
    width: 320px;
    float: left;
    color: #fff;
    position: relative;
    background: url("../images/footer.png") no-repeat;
    background-position: -281px -5px;
}
.foot-nav li span{
    position: absolute;
    top: 0;
    left: 1px;
    background: url("../images/footer.png") no-repeat;
    width: 45px;
    height: 45px;
    display: inline-block;
}
.foot-nav li span.foot-n1{
    background-position: -2px -5px;
}
.foot-nav li strong {
    font: 16px/24px Microsoft YaHei;
    padding-top: 2px;
    padding-left: 58px;
}
.foot-nav li p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 58px;
}

.foot-nav li span.foot-n2 {
    background-position: -79px -7px;
}
.foot-nav li span.foot-n3 {
    background-position: -158px -4px;
}
.foot-nav li span.foot-n4 {
    background-position: -224px -5px;
}

.foot-nav li span.foot-n1:hover{
    animation: tubiao .5s linear 2;
    animation-direction: alternate;
}

.foot-nav li span.foot-n2:hover{
    animation: foottubiao .5s linear 1;
    animation-direction: alternate;
}
.foot-nav li span.foot-n3:hover{
    animation: foottubiao .5s linear 1;
    animation-direction: alternate;
}

.foot-nav li span.foot-n4:hover{
    animation: foottubiao .5s linear 1;
    animation-direction: alternate;
}

/*帮助导航*/
.helpserver {
    background: #f6f6f6;
    padding: 28px 0 20px 0;
}
.main-wrap {
    margin: 0 auto;
    width: 1180px;
}
.helpserver .helplist {
    width: 1180px;
}
.helpserver .helplist .help_l {
    display: inline;
    float: left;
    margin: 0 5px 0 10px;
    width: 177px;
}
.helpserver .helplist .help_l strong {
    font: 16px/20px Microsoft YaHei;
    color: #545454;
    padding-bottom: 8px;
}
.helpserver .helplist ul li {
    float: left;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    width: 100px;
}
.helpserver .helplist ul li a {
    color: #666;
    text-decoration: none;
}
/*友情链接*/
.footer {
    position: relative;
    margin: 0 auto;
    color: #b2b2b2;
    padding: 15px 0 0 0;
    width: 1180px;
}
.footer .footer-bd {
    text-align: center;
    height: 35px;
    background: url(../images/footer.png) no-repeat right -154px;
    padding-bottom: 10px;
}
.footer .footer-bd p {
    padding-bottom: 8px;
    overflow: hidden;
    *zoom: 1;
    display: inline-block;
    margin: 0 auto;
}
.footer .footer-bd em, .footer .footer-bd span {
    display: inline;
    float: left;
    white-space: nowrap;
    color: #444;
}
.footer .footer-bd span {
    margin: 0 4px;
}
.footer .footer-bd a {
    display: inline;
    float: left;
    margin: 0 4px;
    white-space: nowrap;
    color: #464849;
    text-decoration: none;
}
.footer .footer-bd b {
    display: inline;
    float: left;
    margin: 0 3px;
    font-weight: 400;
    color: #444;
}
/*热门航空公司*/
.coach-header{
    font-size: 24px;
    line-height: 100%;
    padding-top: 30px;
}
.hk-all{
    width: 1180px;
    height: 60px;
    margin: auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    position: relative;

}
.hk-btm{
    width: 1180px;height: 400px;
    margin: auto;
}
.btm-left{
    width: 450px;height: 310px;
    padding: 10px;
    float: left;
    position: relative;

}
.btm-right{
    width: 700px;height: 310px;
    float: right;
}
.btm-right li{
    float: left;
    width: 33%;
    height: 150px;
    list-style: none;
}
.btm-lt-left span {
    width: 220px;
    color: #555;
    text-align: center;
    background: #ccc;
    height: 37px;
    line-height: 37px;
    display: block;
}
.bt-lt-right p{
    font-size: 14px;
    letter-spacing: 1px;
}
.left-img{
    width: 220px;height: 200px;
    background: url("../images/ca3.png") ;
}
.bt-lt-info{
    float: right;
    color: #555;
    padding: 0 1px 0 0;
    width: 192px;
    position: relative;
    line-height: 14px;
}
.btn-all{
    width: 450px;
    height: 230px;
    margin: 20px auto 30px;
}
.btm-lt-left{
    width: 50%;height: 100%;
    float: left;
}
.bt-lt-right{
    width: 50%;height: 100%;
    float: right;
    background: #f8f6f6;
}
.btm-rt-tp-in11 .label{
    margin-top: 5px;
    width: 95%;
    height: 100%;
    background: url("../images/cz3.png") no-repeat;
}
.btm-rt-tp-in12 .label{
    margin-top: 5px;
    width: 95%;
    height: 100%;
    background: url("../images/mu3.png")no-repeat;
}
.btm-rt-tp-in13 .label{
    margin-top: 5px;
    width: 95%;
    height: 100%;
    background: url("../images/hu3.png")no-repeat;
}
.btm-rt-tp-in21 .label{
    margin-top: 60px;
    width: 95%;
    height: 100%;
    background: url("../images/zh3.png")no-repeat;

}
.btm-rt-tp-in22 .label{
    margin-top: 60px;
    width: 95%;
    height: 100%;
    background: url("../images/3u3.png")no-repeat;

}
.btm-rt-tp-in23 .label{
    margin-top: 60px;
    width: 95%;
    height: 100%;
    background: url("../images/9c3.png")no-repeat;
}
.label{
    width: 100%;height: 100%;
    text-align: center;
    line-height: 270px;
}
@keyframes hk-ani {
    0%{
        transform:scale(1,1);
    }
    100%{
        transform:scale(1.1,1.1);
    }
}
.btm-rt-tp-in23:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.btm-rt-tp-in22:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.btm-rt-tp-in21:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.btm-rt-tp-in13:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.btm-rt-tp-in12:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.btm-rt-tp-in11:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
.left-img:hover{
    animation:hk-ani .5s linear 1 ;
    animation-direction: alternate;
    animation-fill-mode:forwards;

}
/*热门国际机场 最新资讯。。*/
.main-wrap {
    margin-top: 30px;
    width: 1180px;
    height: 400px;
}
.internationalinfo {
    width: 340px;
    float: left;
    margin-right: 20px;
}
.internationalinfo .mod-hd, .internationalinfo2 .mod-hd {
    height: 40px;
    font-family:微软雅黑;
    margin: 0px;
    border-bottom: 2px solid rgb(204, 204, 204);
}
.internationalinfo .mod-hd h2 {
    color: #555;
    float: left;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    width: 60%;
}
.internationalinfo .mod-hd .mod-more {
    font-family: "simsun";
    padding: 0 15px 0 0;
    margin-top: 15px;
    position: relative;
    float: right;
}
.internationalinfo .mod-hd .mod-more s {
    background-image: url(../images/1.png);
    background-position: -324px -415px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 5px;
    width: 11px;
}
.internationalinfo .mod-hd .mod-more a {
    color: #666;
    text-decoration: none;
}
.internationalinfo .jc-info, .internationalinfo2 .jc-info, .internationalinfo .jc-info2 {
    height: 300px;
    overflow: hidden;
    padding: 5px;
}
.internationalinfo .jc-info a {
    float: left;
    display: block;
    width: 153px;
    font: 16px/37px Microsoft Yahei;
    padding-left: 12px;
    background: url(../images/up.gif) no-repeat left;
    text-decoration: none;
    color: #666666;
}
.internationalinfo {
    width: 340px;
    float: left;
    margin-right: 20px;
}
.internationalinfo2 {
    width: 460px;
    float: left;
    overflow: hidden;
}
.list-item {
    float: left;
    color: #666;
    padding: 20px 20px 0 0;
}
.list-item a {
    background: url(../images/jipiao.png) no-repeat;
    background-position: -3px -3px;
    width: 220px;
    height: 134px;
    display: inline-block;
    text-decoration: none;
}
.list-item .ncoach_name {
    height: 40px;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 50px;
}
.list-item .ncoach_name_start {
    text-align: right;
    padding-right: 10px;
}
.list-item .ncoach_name_end {
    text-align: left;
    padding-left: 10px;
}
.list-item .ncoach_name span, .list-item .ncoach_name i, .list-item .ncoach_type span, .list-item .ncoach_type i {
    display: inline-block;
}
.list-item .ncoach_name_arrow {
    width: 40px;
    height: 5px;
    background: url(../images/1.png) no-repeat;
    background-position: -28px -79px;
    overflow: hidden;
}
.list-item .ncoach_date {
    cursor: pointer;
    font: 14px arial;
    text-align: center;
    padding-top: 2px;
}
.list-item .ncoach_type {
    text-align: center;
    line-height: 48px;
    padding-top: 20px;
}
.list-item .ncoach_type_bus {
    width: 22px;
    height: 20px;
    background: url(../images/1.png) no-repeat;
    background-position: -36px -106px;
    vertical-align: -5px;
}
.list-item .ncoach_type_t1 {
    font: 14px Simsun;
}
.list-item .ncoach_type_t2 {
    color: #f60;
    font: 16px Microsoft Yahei;
    vertical-align: 3px;
    position: relative;
    top: 5px;
    left: -1px;
}
.list-item .ncoach_type_t3 {
    color: #F60;
    font: 28px arial;
    vertical-align: -2px;
}
.jc-info2 a{
    text-decoration: none;
    color: #666666;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.internationalinfo2 .mod-hd h2 {
    color: #555;
    float: left;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    width: 130px;
}
.internationalinfo2 .tabctn {
    float: right;
    overflow: hidden;
    display: inline-block;
    height: 42px;
}
.internationalinfo2 .tabctn li {
    float: left;
    height: 40px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    color: #555;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}
.list-item :hover .ncoach_name_arrow{
    animation: pingyi .5s linear 1;
    animation-fill-mode: forwards;
}
