body{
    margin: 0;padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,li,a{
    margin: 0;padding: 0;
    font-weight: normal;
    font-size:16px;
    list-style:none;
    text-decoration: none;
}
a:hover{
    color: orange;
}
/*动画*/
@keyframes in1 {
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
@keyframes in2 {
    0%{
        transform: rotate(-0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes in3 {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*header*/
header{
    width: 1180px;
    height:70px;
    margin: 5px auto;
}
header .logo{
    float: left;
    width: 300px; height:70px;
    background: url("../imgs/logo.png") no-repeat left;
    margin: 0 auto;
}
/* 导航 */
.box{
    width: 100%;height:40px;
    background: #3b8de3;
}
.con{
    width: 1180px; height: 100%;
    margin: auto;
}
.box .left{
    float: left;
    width: 690px;height: 100%;
}
.box .right{
    float: right;
    width: 240px;height: 100%;
    position: relative;
}
.box a{
    float: left;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
}
.box a:hover{
    background: #fff;
    color: #3b8de3;
    border-top: 2px solid orange;
}
.box .left a{
    width:20%;
    height: 100%;
}
.box .right a{
    width:33%;
    height: 100%;
}
.box .active{
    background: #fff;
    color: #3b8de3;
    border-top: 2px solid orange;
}
.box .login{
    background: url("../imgs/img.png") no-repeat -315px -500px;
}
.box .right .sanjiao{
    width:0px;height: 0px;
    border-top: 10px solid #fff;
    border-left: 5px solid #3b8de3;
    border-right: 5px solid #3b8de3;
    position:absolute;left:240px;top:17px;
}
/* 热门城市 */
.hot{
    width: 1180px;
    margin:  5px auto;
}
.hot span{
    color:black;
    font-size: 13px;
}
.hot a{
    text-decoration: none;
    color: #3b8de3;
    font-size: 13px;
    margin: 0 5px;
}
.hot a:hover{
    color: orange;
}
/*轮播图*/
.wheel-box{
    width: 100%;
    height: 380px;
    margin-top: 35px;
    position: relative;
    border: 1px solid #ffffff;
}
.wheel-box .banner1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0px;
    background: url("../imgs/banner1.png") no-repeat left;
}
.wheel-box .banner2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0px;
    background: url("../imgs/banner2.png") no-repeat left;
}
.wheel-box .bots{
    position: absolute;
    right: 170px;
    bottom: 10px;
    width: 120px;
    height: 10px;
    z-index: 10;
    float: left;
}
.wheel-box .bots .btn1{
    width: 40px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 5px;
    top:1px;
}
.wheel-box .bots .btn2{
    width: 40px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    left: 55px;
    top:1px;
}
.wheel-box .bots .btn1.select{
    background-color: orange;
}
/*购票流程*/
.piao{
    /*border:1px red solid;
          box-sizing: border-box;*/
    width: 1180px;height: 80px;
    margin: 10px auto;
    background: #f6f6f7;
}
.piao .left{
    width:170px;height: 100%;
    float:left;
    /*border:1px red solid;*/
}
.left h3{
    line-height: 80px;
    text-align: center;
    font-size: 20px;
}
.piao .right{
    width:1008px;height: 100%;
    float: left;
}
.piao .right li{
    width: 250px; height: 100%;
    float:left;
    cursor: pointer;
}
.piao .icon{
    width: 80px; height: 100%;
    float:left;
    position:relative;
}
.piao .icon-out{
    width: 80px; height: 80px;
    background:url("../imgs/main.png") no-repeat -160px -130px ;
}
.piao .icon-in{
    width: 40px; height: 40px;
    position: absolute;
    left: 20px;top:20px;
    transform-origin: center;
}
.piao .right li:hover .icon-in{
    animation:in1 0.5s linear alternate infinite;
}
.piao .icon-in1{
    background:url("../imgs/main.png") no-repeat -2px -195px ;
}
.piao .icon-in2{
    background:url("../imgs/main.png") no-repeat -204px -80px ;
}
.piao .icon-in3{
    background:url("../imgs/main.png") no-repeat -258px -80px ;
}
.piao .icon-in4{
    background:url("../imgs/main.png") no-repeat -309px -80px ;
}
.piao .text{
    width: 120px; height: 60px;
    margin:10px 0;
    float:left;
}
.piao .title{
    font-size:18px;
    color: #3b8de3;
}
.piao .info {
    font-size:14px;
    color: #999;
}
.piao .jiantou{
    width:45px;height:75px;
    float:right;
    background: url("../imgs/main.png") no-repeat -359px -126px;
}
/* 详情页*/
div.page {
    width: 1180px;
    height: 244px;
    margin: auto;
    border: #cccccc 1px solid;
}
/*指导*/
.page .zhidao{
    float:left;
    width:400px;height:244px;
}
.page .zhidao .zhi-0{
    float:left;
    width:50%;height:81px;
    border: #cccccc 1px solid;
    box-sizing: border-box;
    position: relative;
}
.page .zhidao .tu{
    /*border: #cccccc 1px solid;*/
    width:50px;height: 50px;
    position:absolute;left:30px ;top:15px;
    transform-origin: center;
}
.page .zhidao .zhi-0:hover .tu{
    animation:in1 0.5s linear alternate infinite;
}
.page .zhidao .tu1{
    background: url("../imgs/main.png") no-repeat 5px -45px;
}
.page .zhidao .tu2{
    background: url("../imgs/main.png") no-repeat 5px -115px;
}
.page .zhidao .tu3{
    background: url("../imgs/main.png") no-repeat -65px -115px;
}
.page .zhidao .tu4{
    background: url("../imgs/main.png") no-repeat 5px -180px;
}
.page .zhidao .tu5{
    background: url("../imgs/main.png") no-repeat -65px -45px;
}
.page .zhidao .tu6{
    background: url("../imgs/main.png") no-repeat -65px -185px;
}
.page .zhidao .a{
    /*border: #cccccc 1px solid;*/
    width:100px;height: 50px;
    position:absolute;left:80px ;top:15px;
    line-height: 50px;
}
.page .zhidao .d1 {
    width: 30px;
    height: 50px;
    float: right;
    background: url("../imgs/main.png") no-repeat -245px 5px;
}
/*最新资讯*/
.page .new{
    float:left;
    width:460px;height: 244px;
    /*border: #cccccc 1px solid;
        box-sizing: border-box;*/
}
.page .news{
    float:left;
    width:60%;height: 80px;
    line-height: 80px;
    margin: 0 30px;
    font-size: 20px;
}
.page .more{
    float:right;
    width:20%;height: 80px;
}
.page .zixun {
    margin:20px 0px;
    float:left;
    width:90%;height: 244px;
    margin: 0 20px;
}
.page .zixun .zi-1{
    width:90%;height: 15px;
    margin-top: 10px;
    line-height: 15px;

}
.page .new .zixun a{
    color:black;
    font-size: 14px;
    margin-bottom: 15px;
    font-size: 14px;
}
/*网站公告*/
.page .gao{
    float:left;
    /*border: #cccccc 1px solid;
        box-sizing: border-box;*/
    width:320px;height: 244px;
}
.page .gao .zixun a{
    color:#3b8de3;
    font-size: 14px;
}
.page .zixun a:hover{
    color:orange;
}
/*热门航线预定*/
.top{
    width:1180px;height: 60px;
    margin:20px auto;
    line-height: 60px;
    border-bottom: #ccc 2px solid;
}
.top span{
    float:left;
    font-size: 28px;
    text-align:center;
}
.top .right{
    float:right;
    width:700px;height: 60px;
}
.top .right a{
    width:10%;
    float:left;
    font-size: 16px;
    margin:0px;
    color: #000;
    text-align:center;
    text-decoration: none;
}
.top .active {
    background: #c8e3fc;
    color: blue;
    border-bottom: blue 2px solid;
}
.top .right a:hover{
    border-bottom: blue 2px solid;
    color: blue;
}
/*ticket-list*/
.ticket-list{
    width: 1180px; height:312px;
    /*border:1px solid red;*/
    margin: 0 auto;
    position:relative;
}
.ticket .arrow:hover{
    background: url("../imgs/img.png") no-repeat -10px -55px;
}
.ticket{
    float:left;
    width: 225px; height:140px;
    position:relative;
    background: #ccc;
    margin: 5px;
    background: url("../imgs/carl.png") no-repeat 0 0;
}
.ticket:hover{
    float: left;
    width: 225px;
    height: 140px;
    position: relative;
    background: #ccc;
    margin: 5px;
    background: url("../imgs/carl.png") no-repeat -225px 0;
}
.ticket .name{
    width: 220px; height:50px;
}
.ticket .start{
    width: 80px; height:50px;
    position:absolute;left:0;top:0;
    line-height: 50px;
    text-align:right;
    font-size: 18px;
}
.ticket .arrow{
    width: 60px; height:50px;
    position:absolute;left:80px;top:0;
    background: url("../imgs/img.png") no-repeat -16px -55px;
}
.ticket .end{
    width: 80px; height:50px;
    position:absolute;right:0;top:0;
    text-align:left ;
    line-height: 50px;
    font-size: 18px;
}
.ticket .time{
    width: 220px; height:40px;
    text-align:center;
}
.ticket .money{
    width: 220px; height:50px;
}
.ticket .t1{
    width: 60px; height:50px;
    position:absolute;left:0px;top:90px;
    background: url("../imgs/img.png") no-repeat -10px -90px;
}
.ticket .t2{
    width: 40px; height:50px;
    position:absolute;left:60px;top:90px;
    line-height: 50px;
}
.ticket .t3{
    width: 40px; height:50px;
    position:absolute;left:100px;top:90px;
    text-align: right;
    line-height: 50px;
}
.ticket .t4{
    width: 70px; height:50px;
    position:absolute;left:140px;top:90px;
    text-align: left;
    font-size: 28px;
    line-height: 50px;
}
/*热门航空公司*/
.hotcompany{
    width: 1180px;
    height: 450px;
    margin: 40px auto 10px;
}
.hotcompany .top{
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #cccccc;
    position: relative;

}
.hotcompany .top .left{
    font-size: 26px;
    float: left;
    color: #5C5B58;
}
.hotcompany .top .right{
    position: absolute;
    right: -650px;
    color: #999999;
    float: right;
    top: 0px;
}
.hotcompany .bottom .boxleft{
    width:440px;
    height: 335px;
    margin: 20px 0px 20px 0px;
    background-color:#f6f6f7;
    border: 1px solid #ffffff;
    float: left;
}
.hotcompany .bottom .boxleft .imagedisplay{
    width: 220px;
    height:300px;
    margin: 20px 10px 0px 10px;
    float: left;
}
.hotcompany .bottom .boxleft .imagedisplay .image{
    width:220px;
    height: 200px;
    background: #a6e3fc url("../imgs/hang0.png") no-repeat;
}
.hotcompany .bottom .boxleft .imagedisplay .companyname{
    width:220px;
    height: 40px;
    background-color: #cccccc;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
}
.hotcompany .bottom .boxleft .textdisplay{
    float: left;
    width:180px;
    height: 300px;
    font-size: 12px;
    margin: 20px 0px 0px 10px;
    text-indent: 1em;
    line-height: 20px;
    color: #555555;
    position: relative;
}
.hotcompany .bottom .boxleft .textdisplay .fenhao{
    width:25px;
    height: 25px;
    background:url("../imgs/main.png") no-repeat -375px -265px;
    position: absolute;
    right: 0;
}
.hotcompany .bottom .boxright{
    float: left;
    width: 735px;
    height: 335px;
    margin: 20px 0px 0px 0px;
}
.hotcompany .bottom .boxright .one{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang1.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .one .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.hotcompany .bottom .boxright .two{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang2.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .two .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.hotcompany .bottom .boxright .three{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang3.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .three .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.hotcompany .bottom .boxright .four{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang4.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .four .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.hotcompany .bottom .boxright .five{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang5.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .five .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;

}
.hotcompany .bottom .boxright .six{
    float: left;
    width: 218px;
    height: 160px;
    background: url("../imgs/hang6.png") no-repeat;
    background-size: 100% 100%;
    margin: 0px 0px 20px 27px;
    line-height: 280px;
    text-align: center;
    color:#3b8de3;
    z-index: 2;
    position: relative;
}
.hotcompany .bottom .boxright .six .back{
    width:218px;
    height: 40px;
    float: left;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
/*热门国际机场*/
.kuangjia1{
    width:1180px;height:450px;
    margin:auto;
}
.kuangjia1-1{
    width:320px;height:450px;
    float: left;
    margin:0 10px;
}
.top .two{
    float:right;
    font-size: 12px;
}
.top-jichang{
    float: left;
    width:320px;
}
.jichang .left{
    width: 50%;
    height: 380px;
    float: left;
}
.jichang .right{
    width: 50%;
    height: 380px;
    float: left;
}
.jichang ul li{
    padding-left: 10px;
    margin-top: 10px;
    background: url("../imgs/up.gif") no-repeat left center;
    margin-left: 5px;
    color: #0055AA;
}
/*最新客户咨询*/
.top-kehu{
    width:320px;
    float:left;
}
.kehu .info{
    width:90%;
    float:left;
    margin:5px;
}
/*国际特价*/
.kuangjia1-2{
    width:470px;height:450px;
    float: left;
    margin:0 10px;
}
.kuangjia1-2 .top{
    width:100%;
    position:relative;
}
.kuangjia1-2 .top .two-1{
    width:60px;height:50px;
    font-size: 20px;
    text-align: center;
    float:left;
    position:relative;right:0;top :10px;
}
.kuangjia1-2 .top .two-2{
    background: #c8e3fc;
}
/*公用底部*/
.foot-main{
    width: 100%;height: 65px;
    background: #3b8de3;
}
.foot-main .foot-mains{
    width: 1180px;height: 63px;
    margin:auto;
}
.foot-main .foot-mains .part{
    width: 25%; height: 100%;
    float:left;
    position:relative;
}
.foot-mains .part-out{

    width: 80px; height: 65px;
    float:left;
    background:url("../imgs/footer.png") no-repeat -260px 0px ;
}
.foot-mains .part-in{
    width: 40px; height: 40px;
    position: absolute;
    left: 21px;top:6px;
    transform-origin: center;
}
.foot-main .part:hover .part-in{
    animation:in2 0.5s linear alternate forwards;
}
.foot-main .part-in1{
    background:url("../imgs/footer.png") no-repeat -2px -8px;
}
.foot-main .part-in2{
    background:url("../imgs/footer.png") no-repeat -80px -8px ;
}
.foot-main .part-in3{
    background:url("../imgs/footer.png") no-repeat -160px -8px ;
}
.foot-main .part-in4{
    background:url("../imgs/footer.png") no-repeat -226px -8px ;
}
.foot-main .text{
    width: 200px; height: 50px;
    position:absolute;left:100px;top:10px;
}
.foot-main .title{
    font-size:18px;
    color: #ffffff;
}
.foot-main .info {
    font-size: 14px;
    color: #ffffff;
}
/*友情链接*/
.help-color{
    width:100%;height:180px;
    background: #f1f1f1;
}
.helpserver{
    width:1180px ;height:180px;
    margin:auto;
}
.helpserver .help{
    /*border:1px solid red;*/
    width:170px ;height:180px;
    float:left;
    position:relative;
}
.helpserver .help .text{
    /*border:1px solid red;*/
    border-right:1px solid #cccccc;
    width:120px ;
    float:left;
    position:relative;left:30px;top:30px;
}
.helpserver .help .h{
    /*border:1px solid red;*/
    width:100px ;
    float:left;
    margin:5px;
    background: url("../imgs/page-bg.png") no-repeat -50px -170px;
}
.helpserver .help a{
    font-size:13px;
}
.helpserver .help .h1{
    width:100px ;
    float:left;
    margin:5px;
    font-size: 20px;
}
.helpserver .help6{
    width:320px ;height:180px;
    float:left;
    position:relative;
}
.helpserver .help6 .tops{
    margin:30px 0 0 40px;
    width:100px;
    font-size: 13px;
}
.helpserver .help6 .middle{
    width:200px;height:50px;
    margin-left:40px;
    background: url("../imgs/footer.png") no-repeat -130px -97px;
}
.helpserver .help6 .bottom{
    width:300px;height:40px;
    float:left;
    margin:auto;
    border:#3b8de3 2px solid;
    background: #ffffff;
    border-radius: 5px;
}
.helpserver .help .bottom-left{
    width:240px;height:100%;
    float:left;
    line-height: 40px;
    margin-left:5px;
}
.helpserver .help .bottom-right{
    width:55px;height:100%;
    background: #3b8de3;
    float:left;
    line-height: 38px;
    text-align: center;
}
/* 执照 */
.zheng{
    width:850px;height:180px;
    margin: 20px auto;
}
.zheng-top,.zheng-top a{
    width:100%;
    font-size: 14px;
}
.zheng-middle{
    width:62px;height:74px;
    margin:40px auto 10px;
    background: url("../imgs/zhizhao.jpg") no-repeat 0 0 ;
}
.zheng-bottom{
    width:610px ;height:25px;
    background: rgb(238,245,254);
    margin:auto;
}
.zheng-bottom-1{
    font-size: 14px;
}
.zheng-bottom-2{
    font-size: 18px;
    color:orange;
}
.zheng-bottom a{
    font-size: 14px;
    color:#3b8de3;
}
.zheng-bottom a:hover{
    color:orange;
}
/*foot*/
.foot{
    width:1000px;
    heoght:110px;
    margin: 0 auto 30px;
    font-size: 13px;
    text-indent: 2em;
    color: #999999;
}


