body{
    margin:0;
}
.box{
    width: 100%;
    height: 40px;
    background-color: #3b8de3;
}
.con{
    width: 1180px;
    height: 100%;
    margin:auto;
}
.left{
    float: left;
    width: 690px;
    height: 100%;
}
.right{
    float: right;
    width: 240px;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
}
a{
    line-height: 40px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}
.left a{
    /*行内元素：不能设置宽高*/
    float: left;
    /*无论是块元素还是行元素，只要进行浮动，那么就能够在一行显示，并且能够设置宽高，还能忽略掉空格*/
    width: 20%;
    height: 100%;
}
.active{
    background-color: white;
    color: #3b8de3;
    border-top: 3px solid orange;
}
.right a:nth-child(1){
    background-image: url("../image/1.png");
    background-repeat: no-repeat;
    background-position: -313px -499px;
}
/* .right a:nth-child(3){
     background-repeat: no-repeat;
     background-image: url("1.png");
     background-position: -250px -709px;
 }*/
.right a{
    float: left;
    width: 33.3%;
    height: 100%;
}
.left a:hover{
    background-color: white;
    color: #3b8de3;
    border-top: 3px solid orange;
}
.right a:hover{
    background-color: #3b8db4;
    color: white;
}
.sanjiao{
    width: 0;
    height: 0;
    border-top: 8px solid #fff;
    border-left: 5px solid #3b8de3;
    border-right: 5px solid #3b8de3;
    position: absolute;
    left: 225px;
    top: 17px;
}

/*头部图片*/
header{
    width: 1180px;
    height: 73px;
    margin: auto;
}
.leftpic img{
    float: left;
    height: 100%;
}
.rightpic img{
    float: right;
}
/*热门城市*/
.outhot{
    width: 100%;
    height: 30px;
    background: #F4F9FE;
}
.hot{
    margin: auto;
    width: 1180px;
    height: 100%;
    font-color: black;
}
.hot a{
    text-decoration: none;
    color: #3b8db4;
    line-height: 30px;
    margin: 0px 15px;
}
/*轮播图*/
.banners{
    width: 1366px;
    height: 270px;
    position: relative;
    left: 0;
    top: 0;
}
.banner{
    position: absolute;
    left: 0;
    top: 0;
}
.banner.banner1{
    float: left;
}
.banner.banner2{
    float: left;
}
.btns{
    width: 100px;
    height: 10px;
    position: absolute;
    left: 1200px;
    top: 230px;
}
.btn{
    width: 45px;
    height: 100%;
}
.btn.btn1{
    float: left;
    background: black;
}
.btn.btn2{
    float: right;
    background: orange;
}
/*热门航线预订*/
.hotline{
    width: 1366px;
    height: 420px;
    margin: auto;
}
.hotline_top{
    width: 1180px;
    height: 60px;
    border-bottom: 2px solid #555;
    margin: auto;
}
.hotline_top_left{
    float: left;
    width: 70px;
    height: 100%;
}
.hotline_top_right{
    float: right;
    width: 900px;
    margin: auto;
}
.citys{
    font-size: 20px;
    color: #555;
    float: left;
    width: 10%;
    height: 100%;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 6px;
    background-color: rgb(200,227,252);
}
.citys:hover{
    border-bottom: 2px solid #8cc4fc;
    cursor: pointer;
}
.hotline_bottom{
    width:1200px;
    height: 300px;
    margin: auto;
    /*position: relative;
    left: 0;
    top: 0;*/
}
.hotline_visit{
    float: left;
    width: 20%;
    height: 150px;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
}
.hotline_pic{
    float: left;
    background:url("../image/hotline.png");
    background-repeat: no-repeat;
    background-position: -2px -2px;
    width: 225px;
    height: 140px;
    margin-left: 8px;
    margin-top: 20px;
    position: relative;
    left: 0;
    top: 0;
}
.hotline_pic_city{
     margin: auto;
    font-family: 宋体，黑体;
     font-size: 18px;
     position: absolute;
     left: 47px;
     top: 25px;
     color: #3b8db4;
 }
.hotline_pic_date{
    font-family: 宋体，黑体;
    margin: auto;
    font-size: 14px;
    position: absolute;
    left: 78px;
    top: 50px;
    color: #3b8db4;
}
.hotline_pic_ticket{
    font-family: 宋体，黑体;
    margin: auto;
    font-size: 15px;
    position: absolute;
    left: 65px;
    top: 95px;
    color: #3b8db4;
}
.hotline_pic_price{
    font-family: 宋体，黑体;
    margin: auto;
    font-size: 28px;
    font-weight: bolder;
    position: absolute;
    left: 103px;
    top: 90px;
    color: orange;
    line-height: 20px;
}
.hotline_go{
    position: absolute;
    left: 94px;
    top: 29px;
    background-image: url("../image/1.png");
    background-position: -38px -76px;
    width: 27px;
    height: 10px;
}
.hotline_air{
    position: absolute;
    left: 50px;
    top: 97px;
    background-image: url("../image/1.png");
    background-position: -40px -110px;
    width: 25px;
    height: 10px;
}
.hotline_pic:hover{
    float: left;
    background:url("../image/hotline.png");
    background-repeat: no-repeat;
    background-position: -223px -2px;
    width: 225px;
    height: 140px;
    margin-left: 8px;
    margin-top: 20px;
    position: relative;
    left: 0;
    top: 0;
}
.hotline_pic:hover .hotline_go{
    left: 100px;
}


/*购票流程*/
.ticket{
    width: 1180px;
    height: 80px;
    background-color: rgb(247,247,246);
    margin: auto;
}
.ticket_left{
    width: 150px;
    height: 100%;
    float: left;
}
.ticket_right{
    float: left;
    width: 1010px;
    height: 100%;
}
.ticket_left h3{
    width: 100%;
    height: 100%;
    color: rgb(85,85,85);
    line-height: 45px;
    text-align: center;
    font-family: 宋体;
    font-size: 18px;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.ticket_right li{
    float: left;
    width: 25%;
    height: 100%;
    cursor: pointer;
}
.arrow{
    float: right;
    width: 45px; height:80px;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -355px -125px;
}
.ticket_info{
    float: left;
    width: 200px;
    height: 100%;
}
.ticket_icon{
    float: left;
    width: 65px;
    height: 100%;
}
.ticket_icon_out{
    width: 100%;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -160px -125px;
}
.ticket_icon_in1{
    width: 100%;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: 17px -170px;
}
.ticket_icon_in2{
    width: 100%;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -185px -53px;
}
.ticket_icon_in3{
    width: 100%;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: 17px -100px;
}
.ticket_icon_in4{
    width: 100%;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -290px -55px;
}
.ticket_info_right{
    float: right;
    width: 130px;
    height: 100%;
}
.ticket_info_top{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #3b8db4;
    margin-left: 25px;
    margin-top: 13px;
}
.ticket_info_bottom{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    margin-left: 0px;
    margin-top: 2px;
    color: rgb(153,153,153);
}

.ticket_icon_in1:hover{
    transform-origin: 38px 38px;
    animation: a .5s infinite;
}
.ticket_icon_in2:hover{
    transform-origin: 29px 38px;
    animation: a .5s infinite;
}
.ticket_icon_in3:hover{
    transform-origin: 29px 38px;
    animation: a .5s infinite;
}
.ticket_icon_in4:hover{
    transform-origin: 32px 38px;
    animation: a .5s infinite;
}
@keyframes a {
    0%{
        transform: rotate(-30deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

/*订单管理，资讯，公告*/
.view{
    width: 1180px;
    height: 210px;
    margin: auto;
    border: 1px solid rgb(221,221,221);
}
.view_left{
    float: left;
    width: 380px;
    height: 100%;
}
.view_right{
    float: right;
    width: 790px;
    height: 100%;
}
.pay{
    float:left;
    width: 187px;
    height: 69px;
    border-top: 1px solid rgb(221,221,221);
    border-right: 1px solid rgb(221,221,221);
}
.pay_left1{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: 37px -38px;
}
.pay:nth-child(1):hover .pay_left1{
    animation: a .5s infinite;
}
.pay_left2{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: 37px -105px;
}
.pay:nth-child(2):hover .pay_left2{
    animation: a .5s infinite;
}
.pay_left3{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -35px -105px;
}
.pay:nth-child(3):hover .pay_left3{
    animation: a .5s infinite;
}
.pay_left4{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: 37px -175px;
}
.pay:nth-child(4):hover .pay_left4{
    animation: a .5s infinite;
}
.pay_left5{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -38px -37px;
}
.pay:nth-child(5):hover .pay_left5{
    animation: a .5s infinite;
}
.pay_left6{
    float: left;
    width: 80px;
    height: 100%;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -38px -175px;
}
.pay:nth-child(6):hover .pay_left6{
    animation: a .5s infinite;
}
.pay_right{
    float: left;
    color: rgb(85,85,85);
    font-size: 15px;
    margin-top: 26px;
    margin-left: -2px;
    font-family: 宋体;
    position: relative;
    left: 0;
    top: 0;
}
.latest{
    position: absolute;
    left: 57px;
    top: -14px;
    width: 30px;
    height: 30px;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -250px 0;
}
.news{
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 12px;
    position: relative;
    left: 0;
    top: 0;
}
.news h2{
    color: rgb(85,85,85);
    font-weight: normal;
    font-size: 20px;
    font-family: 宋体;
}
.news a{
    line-height: 29px;
    color: rgb(85,85,85);
    font-size: 13px;
    font-family: 宋体;
}
.news a:hover{
    color: rgb(255,102,0);
}
.more{
    position: absolute;
    left: 320px;
    top: 27px;
}

/*热门航空公司*/
.hotairpalane{
    width: 1180px;
    height: 490px;
    margin: auto;
}
.airplane_head{
    width: 100%;
    height: 65px;
    border-bottom: 2px solid #555;
}
.airplane_head h2{
    font-size: 30px;
    color: #555;
    float: left;
    margin-top: 20px;
    margin-bottom: 0;
}
.body_left{
    float: left;
    width: 460px;
    height: 420px;
    margin-top: 30px ;
    margin-left: 10px;
    background: rgb(246,246,246);
    position: relative;
}
.airplane_body{
    width: 100%;
    height: 380px;
}
.body_left_le{
    float: left;
    width: 220px;
    height: 230px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 7px;
    background-color: rgb(219,227,247);
}
.body_left_ri{
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 23px;
    font-family: 宋体;
    margin-top: 40px;
    font-size: 13px;
    color: rgba(85,85,85,0.5);
}
.body_left_pic{
    width: 30px;
    height: 30px;
    background-image: url("../image/main.png");
    background-repeat: no-repeat;
    background-position: -370px -270px;
    position: absolute;
    left: 390px;
    top: 300px;
}
.body_right_top{
    width: 220px;
    height: 200px;
    background-image: url("../image/air1.png");
    background-repeat: no-repeat;
}
@keyframes b {
    0%{
    }
    50%{
        transform: scale(0.9,0.9);
    }
    100%{
        transform: scale(1,1);
    }
}
.body_right_top:hover {
    animation: b 0.5s;
}
.body_right_bot{
    width: 220px;
    height: 30px;
    background: rgb(204,204,204);
    text-align: center;
    line-height: 30px;
    color: rgb(85,85,85);
}
.body_right{
    float: left;
    width: 680px;
    height: 420px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: rgb(219,227,247);
}
.body_right_air_t{
    width: 220px;
    height: 40px;
    position: absolute;
    left: 2px;
    top: 165px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
}
@keyframes c {
    0%{
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}
.body_right_air1{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/nf.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air1:hover{
    animation: b 0.5s;
}
.body_right_air2{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/df.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air2:hover{
    animation: b 0.5s;
}
.body_right_air3{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/hn.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air3:hover{
    animation: b 0.5s;
}
.body_right_air4{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/sz.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air4:hover{
    animation: b 0.5s;
}
.body_right_air5{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/sc.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air5:hover{
    animation: b 0.5s;
}
.body_right_air6{
    float: left;
    width: 33%;
    height: 50%;
    background-image: url("../image/cq.png");
    background-repeat: no-repeat;
    background-position: 2px 5px;
    position: relative;
    left: 0;
    top: 0;
}
.body_right_air6:hover{
    animation: b 0.5s;
}

.clear{
    width: 100%;
    height: 35px;
}

/*热门国际机场、客户咨询*/
.hotairport{
    width: 1180px;
    height: 400px;
    margin: auto;
}
.airport{
    float: left;
    width: 29%;
    height: 100%;
}
.airport_head{
    width: 90%;
    height: 13%;
    border-bottom:2px solid rgb(204,204,204) ;
}
.airport_h_le{
    float: left;
    width: 190px;
    height: 100%;
    font-size: 30px;
    color: #555;
    font-family: 宋体，黑体;
}
.airport_h_ri a{
    float: right;
    font-size:15px;
    color:#555;
    margin-top: 10px;
}
.airport_body{
    margin-top: 25px;
    width: 100%;
    height: 76%;
}
.airport_body_info{
    float: left;
    width: 50%;
    height: 12.25%;
    line-height: 50%;
}
.airport_body_info a{
    text-decoration: none;
    color: rgb(0,85,170);
    font-size: 14px;
    line-height: 8px;
}
.airport_body_info a:hover{
    color: orange;
}
.client{
    float: left;
    width: 29%;
    height: 100%;
}
.client_body_info{
    width: 100%;
    height: 16.5%;
    font-size: 16px;
    line-height: 5px;
    margin-top: 2px;
}
.client_body_info a{
    font-size: 15px;
    color: #3b8db4;
    margin: 0;
}
.client_body_info a:hover{
    font-size: 15px;
    color: orange;
    margin: 0;
}
.country{
    float: left;
    width: 42%;
    height: 100%;
}
.country_head{
    width: 480px;
    height: 52px;
    border-bottom:2px solid rgb(204,204,204) ;
}
.country_head_ri{
    float: left;
    width: 290px;
    height: 36px;

}
.country_box{
    float: left;
    width: 33.3%;
    height: 31px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    color: #555;
    font-size: 20px;
}
.country_box:hover{
    background-color: rgb(200,227,252);
}
.country_info1{
    float: left;
    width: 100%;
    height: 50%;
    margin-top: -15px;
    margin-left: 5px;
}
.country_info2{
    float: left;
    width: 100%;
    height: 50%;
    margin-top: -15px;
}
.country_info3{
    float: left;
    width: 100%;
    height: 50%;
    margin-top: -15px;
}
.end{
    width: 100%;
    height: 60px;
    background-color: rgb(59,141,227);
}
.end_info{
    width: 1180px;
    height: 100%;
    margin: auto;
}
.end_safe{
    float: left;
    width: 25%;
    height: 100%;
}
.end_safe_left{
    width: 60px;
    height: 100%;
    float: left;
}
@keyframes e {
    0%{}
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes d {
    0%{}
    /*50%{
        transform: rotate(180deg);
    }*/
    100%{
        transform: rotate(369deg);
    }
}
.end_left_in1{
    width: 100%;
    height: 100%;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
 }
.end_left_in1:hover{
    transform-origin: 25px 29px;
    animation: e .5s alternate 3;
}
.end_left_in2{
    width: 100%;
    height: 100%;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: -78px 2px;
}
.end_left_in2:hover{
    transform-origin: 23px 30px;
    animation: d 1s 3;
}
.end_left_in3{
    width: 100%;
    height: 100%;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: -158px 0px;
}
.end_left_in3:hover{
    transform-origin: 23px 30px;
    animation: d 1s 3;
}
.end_left_in4{
    width: 100%;
    height: 100%;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: -222px 0px;
}
.end_left_in4:hover{
    transform-origin: 25px 29px;
    animation: e .5s alternate 3;
}
.end_left_out{
    width: 100%;
    height: 100%;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: -280px 2px;
}
.end_safe_right{
    width: 230px;
    height: 100%;
    float: left;
    margin-top: 5px;
    color: white;
}
.end_safe_right h3{
    margin:5px;
    font-size: 17px;
}

/* 结束*/
.last{
    width: 100%;
    height: 140px;
    background-color: rgb(246,246,246);
    margin: auto;
}
.last_c{
    width: 1180px;
    height: 100%;
    margin-left: 70px;
}
.last_infos_le{
     width: 910px;
     height: 100%;
     float: left;
 }
.last_info_ri{
    width: 207px;
    height: 125px;
    float: left;
    margin-top: 15px;
    background-image: url("../image/end.png");
    background-repeat: no-repeat;
    background-position: -130px -75px;
}
.last_info{
    float: left;
    width: 19%;
    height: 80%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -10px;
    font-family: 宋体;
    border-right: 0.5px solid rgba(85,85,85,0.7);
    position: relative;
    left: 0;
    top: 0;
}
.last_info a{
    line-height: 25px;
    color: rgba(85,85,85,0.9);
    font-size: 12px;
}
.last_info a:hover{
    color: orange;
}
.last_info h3{
    font-size: 15px;
    color:  rgba(85,85,85,0.9);
    line-height: 8px;
}
.last_point1{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 45px;
    top: 45px;
    background-image: url("../image/pointer.png");
    background-position: 0px -50px;
    background-repeat: no-repeat;
}
.last_point2{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 45px;
    top: 70px;
    background-image: url("../image/pointer.png");
    background-position: 0px -50px;
    background-repeat: no-repeat;
}
.last_point3{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 45px;
    top: 95px;
    background-image: url("../image/pointer.png");
    background-position: 0px -50px;
    background-repeat: no-repeat;
}

.foot1{
    width: 100%;
    height: 20px;
    text-align: center;
    color: #000;
}
.foot1 a{
    color: #000;
}
.foot1 a:hover{
    color: orange;
}

.foot2{
    height: 74px;
    background-image: url("http://www.161580.com/FCK_test/Files/2016/5/17/42c2029e-3fb1-439b-9628-d66b88039189.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 652px;
}

.foot3{
    width: 100%;
    height: 20px;
    text-align: center;
    color: #000;
}
.foot3 a:nth-child(1){
    color: orange;
}
.foot3 span{
    color: orange;
}
.foot3 a{
    color: blue;
}
.foot3 a:hover{
    color: orange;
}

.foot4{
    width: 960px;
    height: 100px;
    text-align: left;
    color: rgba(85,85,85,0.5);
    margin: auto;
}




