*{
    margin: 0;
    padding: 0;
}
/*
头部信息

*/
.header{
    height: 80px;
    width: 100%;
}
.header .logo{
    float: left;
    background: url("../images/logo.png") no-repeat 100px 0;
    height: 100%;
    width:40% ;
}
.header img{
    float: right;
    width: 60%;
    height: 80px;
}
/*
头部底下的信息
*/
.box{
    background: #3b8de3;
    height: 40px;
    line-height: 40px;

}
.con{
    width: 90%;
    height: 50px;
    margin: auto;
    width: 95%;
}
.left{
    width: 60%;
    float: left;
}

.left a{
    float: left;
    text-decoration: none;
    color: #ffffff;
    height: 38px;
    width: 20%;
    text-align: center;

}
.left .active{
    border-top: 3px solid darkorange;
    background: white;
    color: #3b8de3;
}
.left a:hover{
    background: white;
    color: #3b8de3;
    border-top: 2px darkorange solid;
    height: 38px;
}

.right{
    width: 35%;
    float: right;
    background:#0185e1;
}
.right a{
    float: left;
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    width: 33.3%;
    text-align: center;
}
.right a:hover{
    background: blue;
}
.right .login{
    height: 20px;
    background: url("../images/img.png") no-repeat  -315px -505px ;
    float: left;
    line-height: 20px;
}
/*三角形*/
.right .sanjiao {
    height: 0;
    width: 0;
    border-top: 10px solid white;
    border-left:  5px #0185e1 solid;
    border-right: 5px #0185e1 solid;
    float: right;
    margin-top: 10px;

}
.right .sanjiao:hover {
    height: 0;
    width: 0;
    border-bottom: 10px solid white;
    border-left:  5px blue solid;
    border-right: 5px blue solid;
    float: right;
    margin-top: 10px;

}
/*热门城市*/
.hot{
    height: 20px;
    line-height: 20px;
    width: 90%;
    float: right;
    margin: auto;
}
.hot span{
    color: black;
    margin-left: 10px;
}
.hot a{
    text-decoration: none;
    color: #0185e1;
    margin-right: 10px;
}
/*轮播图：
    父类定位相对；子类两种图片 absouble 两个按钮
*/
.banners{
    height:380px ;
    width:100% ;
    float: left;
    position: relative;
}
.banners .banner1{
    background: url("../images/dingpiao.png") no-repeat -200px 0 ;
    height: 380px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.banners .banner2{
    background: url("../images/saoma.png") no-repeat -200px 0;
    position: absolute;
    height: 380px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.banners .gan1{
    height: 10px ;
    width: 60px;
    background:orange;
    position: absolute;
    right: 30%;
    bottom: 10%;
    z-index: 3;
    border-radius: 10px;
}
.banners .gan2{
    height: 10px ;
    width: 60px;
    background:black;
    position: absolute;
    right: 20%;
    bottom: 10%;
    z-index: 3;
    border-radius: 10px;
}
/*热门航线预定*/
.hangxian{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color:gray;
    float: left;
}
.hangxian h2{
    float: left;
    margin-right: 10%;
    margin-left: 20px;
}
.hangxian span{
    color: gray;
    float: left;
    height: 100%;
    width: 7%;
    text-align: center;
}
.hangxian span:hover{
    background: lightskyblue;
    color: #0185e1;
    border-bottom: blue solid 1px;
    cursor: pointer;
}
.hangxian hr{
    width: 100%;
    float: left;
}
/*票价的显示*/
.out{
    height: 350px;
    width: 100%;
    position: relative;
    float: left;
}
.show{
    height: 350px;
    width: 100%;
    float: left;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.show a{
    text-decoration: none;
    text-align: center;
    color: #0185e1;


}

.show a:hover{
    color: gray;

}

.show .piao{
    float: left;
    height: 35%;
    width: 15.1%;
    background: url("../images/carl_bg.png") no-repeat 0 0;
    padding: 10px;
    margin: 1%;
}
.piao .dizhi{
    background: url("../images/img.png") no-repeat -30px -80px;
    height: 10px;
    width: 40px;
    margin-left:  5px ;
    margin-right:  5px ;
    display: inline-block;

}
.piao .dizhi:hover{
    transform: translate(5px,0);
}
.piao .feiji{
    color: #3b8de3;
    font-size: 16px;
    display: inline-block;
    background: url("../images/img.png") -30px -105px;
}
.show .piao:hover{
    background: url("../images/carl_bg.png") no-repeat -225px 0;
}
.show span{
    font-size: 24px;
    color: orange;
}
#quanguo{
    z-index: 10;
    display: block;
}
#shenzhen{
    z-index: 9;
    display: none;
}
#beijing{
    z-index: 8;
    display: none;
}
#shanghai{
    display: none;
    z-index: 7;
}
#guangzhou{
    display: none;
    z-index: 6;
}
#wuhan {
    display: none;
    z-index: 5;
}
#chengdu{
    display: none;
    z-index: 4;
}
#haikou{
    display: none;
    z-index: 3;
}
#chongqing{
    display: none;
    z-index: 2;
}
#shenyang{
    display: none;
    z-index: 1;
}
/*购票流程*/
.liucheng{
    width: 100%;
    float: left;
    height: 80px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.liucheng .wenzi{
    height: 80px;
    width: 15%;
    line-height: 80px;
    text-align: center;
    color: gray;
    float: left;

}
ul,li{
    list-style: none;
}
.liucheng ul{
    width: 85%;
    float: left;
    height: 100%;
}
.liucheng li{
    width:24% ;
    float: left;
    height: 80px;
    line-height: 80px;
    cursor: pointer;

}
.liucheng .tu,.lanse .tu{
    float: left;
    height: 80px;
    width: 60px;
    background: url("../images/main.png") no-repeat -168px -130px;
}
.liucheng .title{
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 100px;

}
.title .title_up{
    color: #0185e1;
    font-size: 20px;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 100px;
}
.title .title_down{
    color: grey;
    float: left;
    height: 30px;
    width: 110px;
    line-height: 30px;
    font-size: 10px;

}
.tu .hang{
    background: url("../images/main.png") no-repeat -145px -80px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
}
.tu .ding{
    background: url("../images/main.png") no-repeat -200px -80px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
}
.tu .zai{
    background: url("../images/main.png") no-repeat -253px -80px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
}
.tu .wu{
    background: url("../images/main.png") no-repeat -305px -80px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
}
.tu .hang:hover,.ding:hover,.zai:hover,.wu:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}
/*动画*/
@keyframes sport {
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(15deg);
    }
}
.liucheng .jian{
    width: 40px;
    height: 80px;
    background: url("../images/main.png") -359px -125px;
    float: right;
}

/*热门航空公司*/
.des{
    height: 120px;
    margin-top: 20px;
    width: 90%;
    margin: auto;

}
.des h2{
    color: gray;
    float: left;
}
.des .rj{
    float: right;
    height: 25px;
    width: 25px;
    background: url("../images/img.png") no-repeat -320px -405px;
}
.des hr{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.dingdan{
    height: 250px;
    width: 100%;
    margin:auto;
    box-sizing: content-box;
    border: 1px solid gray;
    float: left;
}
.dingdan table{
    border: 2px gray solid;
    height: 100%;
    width:380px ;
    margin-left: 10px;
    box-sizing: content-box;
    float: left;
}
table td{
    border-left: 1px  solid gray;
    border-top: 1px solid gray;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer;
}
table .t11{
    background: url("../images/main.png") -5px -60px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t11:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}

table .t12{
    background: url("../images/main.png") -5px -120px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t12:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}

table .t21{
    background: url("../images/main.png") -75px -120px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t21:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}

table .t22{
    background: url("../images/main.png") -5px -190px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t22:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}

table .t31{
    background: url("../images/main.png") -75px -60px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t31:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}

table .t32{
    background: url("../images/main.png") -75px -190px;
    height: 40px;
    width: 40px;
    display: inline-block;

}
table .t32:hover{
    animation-name: sport;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .1s;
}
.zixun{
    float: left;
    width: 800px;
    height: 100%;
}
.zixun .t{
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}
 .zixun .l{
    width: 400px;
    height: 100%;
     display: inline-block;
}
.gengduo .duo{
    float: right;
    height: 25px;
    width: 25px;
    background: url("../images/img.png") no-repeat -320px -405px;
}
.zixun .gengduo{
    float: right;
    height: 50px;
    width: 80px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: gray;
}
.zixun .gengduo h5,span{
    display: inline-block;
}
.zixun .t h3{
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
    display: inline-block;
}
.zixun  .l a{
    text-decoration: none;
    color:gray ;
    display: block;
    line-height: 30px;
    margin-left: 50px;
}
.zixun .l a:hover{
    color: orange;
}

.zixun  .r a{
    text-decoration: none;
    color:cornflowerblue;
    display: block;
    line-height: 40px;
    margin-left: 50px;
}
.zixun .r a:hover{
    color: orange;
}
.zixun .r{
    width: 400px;
    height: 100%;
    float: right;
}

/*航空公司图标开始写*/
.out{
    height: 450px;
    width: 100%;

}
.guoji{
    height: 100%;
    width: 460px;
    background: gainsboro;
    margin-left: 20px;
    float: left;
    /*float: left;*/
}
.guoji .guojileft{
    width: 60%;
    height: 250px;
    float: left;
}
.guojitu{
    height: 200px;
    width: 90%;
    margin: auto;
    background: url("../images/guoji.png") no-repeat ;
    margin-top: 20px;
}
.guojitu:hover{
    animation-name: fang;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: 2s;

}
.guojitext{
    color: grey;
    font-size: 12px;
    margin-top: 20px;

}
.guojizi{
    height: 35px;
    width: 200px;
    line-height: 35px;
    margin-left: 20px;
    background: darkgray;
    font-size: 20px;
    text-align: center;
    color: grey;
}
@keyframes fang {
    100%{
        transform: scale(1.05,1.05);
    }

}
.q{
    width: 850px;
    float: right;
    height: 100%;
}

.nf {
    background: url("../images/nanfang.png");
    height: 200px;
    width: 220px;
    position: relative;
    float: left;
    margin: 15px;
}
.df {
    background: url("../images/dongfang.png");
    height: 200px;
    width: 220px;
    position: relative;
    float: left;
    margin: 15px;
}
.hn {
    background: url("../images/hainan.png");
    height: 200px;
    width: 220px;
    position: relative;
    float: left;
    margin: 15px;
}

.sz {
    background: url("../images/shenzhen.png");
    height: 200px;
    width: 220px;
    position: relative;
    float: left;
    margin: 15px;

}

.sc {
    background: url("../images/sichuan.png");
    height: 200px;
    width: 220px;
    position: relative;
    float: left;
    margin: 15px;

}
.cq {
    background: url("../images/sichuan.png");
    height: 200px;
    width: 220px;
    margin: 15px;

    position: relative;
    float: left;
}
.qitazi{
    height: 40px;
    line-height: 40px;
    width: 220px;
    color: white;
    background: darkgray;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;

}
.nf:hover,.df:hover,.hn:hover,.sz:hover,.sc:hover,.cq:hover{
    animation-name: fang;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: 2s;

}


/*热门国际机场*/
.san{
    width: 100%;
    height: 420px;
}
.san .jichang{
    width: 30%;
    height: 100%;
    float: left;
    margin: 10px;
}
.rtop h3,h5 {
    display: inline-block;
}
.rtop .aa{
    float: right;
    height: 25px;
    width: 100px;
}
.rtop .duo{
    float: right;
    height: 25px;
    width: 25px;
    background: url("../images/img.png") no-repeat -320px -405px;
}
.tbootm table{
    height: 100%;
    width: 100%;

}
.tbootm span,.tbootm2 .d{
    background: url("../images/img.png") no-repeat -320px -405px;
    display: inline-block;
}
.tbootm table td{
    border: 0;
    padding: 10px;
}
.tbootm a,.tbootm2 a{
    text-decoration: none;
    color: #0185e1;
    font-size: 18px;
}
.san .zuixin{
    width: 30%;
    height: 100%;
    float: left;
    margin: 10px;
}
.zuixin span{
    display: block;
    line-height: 30px;
}
.tbootm2 .time{
    color: grey;
}

.tejia{
    width: 33%;
    height: 100%;
    float: right;

}
.tejia .hangxian{
    position: relative;
    width: 100%;
    height: 10px;
    line-height: 40px;
    color:gray;
    float: left;
}
.tejia .hangxian span{
    width: 80px;
    float: right;
    height: 50px;

}
.tjpiao{
    position: relative;
    height: 300px;
    width: 100%;
    float: left;
    margin-top: 100px;
}
.tjpiao .piao{
    width: 40%;
}
.lanse{
    width: 100%;
    height: 80px;
    background: #3b8de3;
    float: left;

}
.lanse  .title_up{
    color: white;
    margin-top: 15px;
}
.lanse li{
    width: 23%;
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}
.lanse .tu{
    float: left;
    height: 80px;
    width: 60px;
    background: url("../images/footer.png") no-repeat -280px 5px;
    margin-top: 10px;
}
.tu .zhi{
    background: url("../images/footer.png") no-repeat -7px -15px;
    height: 40px;
    width: 40px;
    margin-top: -10px;
    margin: 22px 6px;
}
.tu .shi{
    background: url("../images/footer.png") no-repeat -85px -15px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
    transform-origin: left top;

}
.tu .quan{
    background: url("../images/footer.png") no-repeat -165px -15px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
    transform-origin: left top;

}
.tu .fangbian{
    background: url("../images/footer.png") no-repeat -230px -20px;
    height: 40px;
    width: 40px;
    margin: 22px 6px;
}
@keyframes zhifang {
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(15deg);
    }

}
@keyframes shiquan {

    100%{
        transform: rotate(20deg);
    }

}
.tu .zhi:hover,.tu .fangbian:hover{
    transform-origin: left top ;
    animation-name: zhifang;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .2s;
}

.tu .shi:hover,.tu .quan:hover{

    animation-name: shiquan;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-duration: .5s;
}
.xfl{
    height: 140px;
    width: 100%;
    background: gainsboro;
    float: left;
}
.xfl .x{
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 50px;
    line-height: 32px;
}
.xfl .x h4,.x a{
    display: block;
    color: darkslategray;
    text-align: center;
    text-decoration: none;

}
.x a:hover{
    color: orange;
}
.xfl .call{
    width: 180px;
    height: 80px;
    float: left;
    background: url("../images/footer.png") no-repeat -120px -100px;
}
.footer{
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin-left: 200px;
    float: left;
}
.footer a,.footer span,em{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.img{
    height: 74px;
    width: 100%;
    margin-left: 45%;

    float: left;
}
.jiewei span{
    color: darkgray;
    font-size: 12px;
    margin: 20px 200px;
}