body{
    margin:0;padding: 0;
    background: rgba(0,0,0,0.05);
}
h1,h2,ul,li,a,input,button{
    margin: 0;padding: 0;
    font-weight: normal;
    list-style:none;
    text-decoration: none;
    outline: none;
}
a:hover{
    color: orange;
}

/*----------导航-------------*/

.direct{
    width:100%;height:40px;
    background: #000000;
}
.direct-con{
    width:1200px;height:40px;
    margin:auto;
    line-height: 40px;
    font-size: 12px;
    color: #424242;
}
.direct-con a{
    color: #cccccc;
    font-size: 12px;
}
.direct-con a:hover{
    color: #ffffff;
}
.direct-con-left{
    float:left;
}
.direct-con-right{
     float:right;
    position: relative;
}
.direct-con-right-che{
    width:100px;height:40px;
    float:right;
    background: #424242;
    padding-left: 30px;
    box-sizing: border-box;
}
.gouwuche{
    position: absolute;right:70px;top:10px;
    width:30px;height:30px;
    float:left;
    background: url("../imgs/imgs-MIUI/head/gouwuche .png") no-repeat 0 -5px;
}
.direct-con-right-che:hover{
     background: white;
 }
.direct-con-right-che:hover a{
    color:orange;
}
.direct-con-right-che:hover .gouwuche{
    background: url("../imgs/imgs-MIUI/head/che.png") no-repeat 0 -5px;
    background-size:30px 30px;
}


/*--------------头部-----------*/
.head{
    width:1200px;height:50px;
    margin: 30px auto;
}
.head-logo{
    width:50px;height:50px;
    float:left;
    background: orange;
}
.head-list{
    margin-left:200px;
    float:left;
    width:620px;height:50px;
    line-height: 50px;
}
.head-list a{
    margin-right: 20px;
    font-size: 14px;
}
.head-search{
    float:left;
    width:328px;height:50px;
    cursor: pointer;
    position: relative;
}
.head-search input,button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
}
.head-search input{
    float:left;
    border:1px solid #ccc;
    /*box-sizing: border-box;*/
    border-right: none;
    width:276px;height:50px;
}
.head-search-button{
    border:1px solid #ccc;
    float:left;
    width:48px;height: 48px;
    background:white url("../imgs/imgs-MIUI/head/mi-serach-black.png");
}
.head-search-button:hover{
    background: #ff6700 url("../imgs/imgs-MIUI/head/mi-serach-white.png") no-repeat center center;
    background-size: 48px 48px;
    border: 1px solid #ff6700;
}
.head-search .text1{
    height:20px;
    margin-top:15px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;left:100px; top:0px;
    background: #ccc;
}
.head-search .text1:hover{
    background: orange;
    color: white;
}
.head-search .text2{
    height:20px;
    margin-top:15px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;left:150px; top:0px;
    background: #ccc;
}
.head-search .text2:hover{
    background: orange;
    color: white;
}

/*---------------右导航--------------*/
.you{
    width:80px;height:480px;
    position:fixed;right:0;top:100px;
}
.you-0{
    background: white;
    width:80px;height:80px;
    border-bottom:1px #ccc solid;
    margin-bottom: 1px ;
}
.you-6{
    margin-top:20px;
}
.you .tu0{
    width:50px;height:50px;
    margin: auto;
}
.you-1 .tu1{
    background: url("../imgs/imgs-MIUI/you/tu1.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-1:hover .tu1{
    background: url("../imgs/imgs-MIUI/you/tu1-1.png")no-repeat 5px 5px;
    background-size: 40px 40px;
    color:orange;
}
.you-1:hover .text1{
    color:orange;
}
.you-2 .tu2{
    background: url("../imgs/imgs-MIUI/you/tu2.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-2:hover .tu2{
    background: url("../imgs/imgs-MIUI/you/tu2-2.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-2:hover .text2{
    color:orange;
}
.you-3 .tu3{
    background: url("../imgs/imgs-MIUI/you/tu3.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-3:hover .tu3{
    background: url("../imgs/imgs-MIUI/you/tu3-3.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-3:hover .text3{
    color:orange;
}
.you-4 .tu4{
    background: url("../imgs/imgs-MIUI/you/tu4.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-4:hover .tu4{
    background: url("../imgs/imgs-MIUI/you/tu4-4.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-4:hover .text4{
    color:orange;
}
.you-5 .tu5{
    background: url("../imgs/imgs-MIUI/you/tu5.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-5:hover .tu5{
    background: url("../imgs/imgs-MIUI/you/tu5-5.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-5:hover .text5{
    color:orange;
}
.you-6 .tu6{
    background: url("../imgs/imgs-MIUI/you/tu6.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-6:hover .tu6{
    background: url("../imgs/imgs-MIUI/you/tu6-6.png")no-repeat 5px 5px;
    background-size: 40px 40px;
}
.you-6:hover .text6{
    color:orange;
}
.you .text{
    text-align: center;
}
.you-0:hover .you-0 .text{
    color:orange;
}

/*-------------轮播图--------------*/
.wheel{
    width: 1200px;height: 450px;
    margin:auto;
    margin-top: 30px;
    position: relative;
}
.wheel .banner1{
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0px;
    background: url("../imgs/imgs-MIUI/wheel/tu-2.jpg") no-repeat;
}
.wheel .banner2{
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0px;
    background: url("../imgs/imgs-MIUI/wheel/tu-3.jpg") no-repeat;
}
.wheel .banner3{
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0px;
    background: url("../imgs/imgs-MIUI/wheel/tu-4.jpg") no-repeat;
}
.wheel .banner4{
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0px;
    background: url("../imgs/imgs-MIUI/wheel/tu-5.jpg") no-repeat;
}
.wheel .banner5{
    width: 100%;height: 100%;
    position: absolute;left: 0;top:0px;
    background: url("../imgs/imgs-MIUI/wheel/tu-1.jpg") no-repeat;
}
.wheel .bots{
    position: absolute;right: 100px;bottom: 20px;
    width: 120px;height: 5px;
    z-index: 2;
}
.wheel .bots .btn1{
    width: 6px;height: 6px;
    border:2px solid #cccccc;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;left: 0px;top:1px;
}
.wheel .bots .btn2{
    width: 6px;height: 6px;
    border:2px solid #cccccc;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;left: 25px;top:1px;
}
.wheel .bots .btn3{
    width: 6px;height: 6px;
    border:2px solid #cccccc;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;left: 50px;top:1px;
}
.wheel .bots .btn4{
    width: 6px;height: 6px;
    border:2px solid #cccccc;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;left: 75px;top:1px;
}
.wheel .bots .btn5{
    width: 6px;height: 6px;
    border:2px solid #cccccc;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;left: 100px;top:1px;
}
.wheel .bots .btn1.select{
    background-color: #ffffff;
}
.wheel-left{
    z-index: 3;
    width: 240px;height:400px;
    position: relative;left:0;top:0;
    background: rgba(0,0,0,0.5);
    padding-bottom: 25px;
    padding-top: 25px;
}
.wheel-left div{
    width:240px;height:40px;
    line-height: 45px;
}
.wheel-left .tu{
    width:40px;height:40px;
    float:right;
    background: url("../imgs/imgs-MIUI/wheel/icon.png") no-repeat 0px 0px;
    background-size: 40px 40px;
}
.wheel-left div:hover{
    background: orange;
}
.wheel-left div a{
    margin-left: 50px;
    color: #ffffff;
}
.wheel-zuo{
    width:40px;height:60px;
    position: absolute;left:240px;top:180px;
    background: url("../imgs/imgs-MIUI/wheel/icon-slides.png") no-repeat -85px -5px;
}
.wheel-zuo:hover{
    background:#424242 url("../imgs/imgs-MIUI/wheel/icon-slides.png") no-repeat -85px -5px;
}
.wheel-you{
    width:40px;height:60px;
    position: absolute;right:0px;top:180px;
    background: url("../imgs/imgs-MIUI/wheel/icon-slides.png") no-repeat -125px -5px;
}
.wheel-you:hover{
    background:#424242 url("../imgs/imgs-MIUI/wheel/icon-slides.png") no-repeat -125px -5px;
}
/*.wheel-left-1-hover{
    width:5px;height:10px;
    position: absolute;left:500px;top:20px;
    !*background: rgba(0,0,0,0.5);*!
    background: rgb(0,0,0);
    display: none;
}
.wheel-left-1:hover .wheel-left-1-hover{
    display: block;
}*/

/*-----------card---------*/
.card{
    width:1200px;height:160px;
    margin:20px auto 20px;
}
.card-home{
    width:240px;height:160px;
    background: #999999;
    float:left;
}
.card-home-part{
    width:80px;height:80px;
    border:0.5px solid #cccccc;
    box-sizing: border-box;
    float:left;
    text-align: center;
    font-size: 13px;
    line-height: 110px;
}
.card-home-part:hover{
    color: white;
}
.card-imag{
    width:297px;height:160px;
    float:left;
    margin-left: 22px;
}
.card-imag1{
    background: url("../imgs/imgs-MIUI/card/imag-1.jpg") no-repeat;
    background-size: 297px 160px;
}
.card-imag2{
    background: url("../imgs/imgs-MIUI/card/imag-2.jpg") no-repeat;
    background-size: 297px 160px;
}
.card-imag3{
    background: url("../imgs/imgs-MIUI/card/imag-3.jpg") no-repeat;
    background-size: 297px 160px;
}

/*-----------K20---------*/
.k20{
    width:1200px;height:117px;
    margin:auto;
    background: url("../imgs/imgs-MIUI/card/k20.jpg");
    background-size: 1200px 117px;
}

/*-----------手机---------*/
.phone{
    width:1200px;height:679px;
    margin:30px auto 30px;
}
.phone-top{
    float:left;
    width:1200px;height:50px;
}
.phone-top-name{
    width:100px;height:50px;
    float:left;
    font-size: 20px;
    line-height: 50px;
}
.phone-top-cat{
    width:120px;height:50px;
    float:right;
    font-size: 20px;
    line-height: 50px;
}
.phone-top-cat a{
    float:left;
    font-size: 15px;
}
.phone-top-cat-tu{
    width:50px;height:50px;
    float:right;
    background: url("../imgs/imgs-MIUI/phone/mi-seeall-grey.png") no-repeat 5px 5px;
    background-size: 40px 40px;
}
.phone-top-cat:hover a{
    color: orange;
}
.phone-top-cat:hover .phone-top-cat-tu{
    background: url("../imgs/imgs-MIUI/phone/mi-seeall-orange.png") no-repeat 5px 5px;
    background-size: 40px 40px;
}
.phone-left{
    width:240px;height:629px;
    float:left;
    background: url("../imgs/imgs-MIUI/phone/pnone0.jpg");
    background-size: 240px 629px;
}
.phone-left:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    translation:transform 2s ease-in ;
}
.phone-main{
    float:left;
    width:960px;height:629px;
}
.phone-main-part{
    width:220px;height:304px;/*margin-top21*/
    margin-left:20px;
    background: white;
    float:left;
}
.phone-main-part5{
    margin-top:21px;
 }
.phone-main-part6{
    margin-top:21px;
}
.phone-main-part7{
    margin-top:21px;
}
.phone-main-part8{
    margin-top:21px;
}
.phone-main-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    /*translation:transform 2s ease-in ;*/
    transition:transform 1s ease-in;
}
.phone-main-part-new{
    width:70px;height:20px;
    margin:auto;
    background: #83c44e;
    font-size: 13px;
    color:white;
    line-height: 20px;
    text-align: center;
}
.phone-main-part-new1{
    background: #e53935;
}
.phone-main-part-new2{
    background: white;
}
.phone-main-part-tu{
    width:150px;height:150px;
    margin:10px auto 10px;
}
.phone-main-part-info1{
    width:180px;height:20px;
    margin:5px auto 0px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.phone-main-part-info2{
    width:180px;height:20px;
    margin:0px auto 0px;
    line-height: 20px;
    font-size: 9px;
    color: #999999;
    text-align: center;
}
.phone-main-part-money{
    width:180px;height:20px;
    margin:20px auto 0px;
    font-size: 18px;
    color:red;
    line-height: 20px;
    text-align: center;
}
.phone-main-part-tu1{
    background: url("../imgs/imgs-MIUI/phone/phone1.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu2{
    background: url("../imgs/imgs-MIUI/phone/phone2.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu3{
    background: url("../imgs/imgs-MIUI/phone/phone3.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu4{
    background: url("../imgs/imgs-MIUI/phone/phone4.png");
    background-size: 150px 150px;
}
.phone-main-part-tu5{
    background: url("../imgs/imgs-MIUI/phone/phone5.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu6{
    background: url("../imgs/imgs-MIUI/phone/phone6.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu7{
    background: url("../imgs/imgs-MIUI/phone/phone7.jpg");
    background-size: 150px 150px;
}
.phone-main-part-tu8{
    background: url("../imgs/imgs-MIUI/phone/phone8.jpg");
    background-size: 150px 150px;
}

/*-----------好视成双---------*/
.haoshi{
    width:1200px;height:117px;
    margin:auto;
    background: url("../imgs/imgs-MIUI/card/haoshi.jpg");
    background-size: 1200px 117px;
}

/*-----------家电--------*/
.electric{
    width:1200px;height:679px;
    margin:30px auto 30px;
}
.electric-top{
    float:left;
    width:1200px;height:50px;
}
.electric-top-name{
    width:100px;height:50px;
    float:left;
    font-size: 20px;
    line-height: 50px;
}
.electric-top-list{
    height:30px;
    margin-top: 10px;
    float:right;
    line-height: 30px;
}
.electric-top-list-s{
    height:30px;
    margin-left:20px;
    float:left;
}
.electric-top-list-s:hover{
    border-bottom: 2px orange solid;
}
.electric-left{
    width:240px;height:629px;
    float:left;
}
.electric-left-1{
    width:240px;height:307px;
    background: url("../imgs/imgs-MIUI/electric/electric-0-1.jpg");
    background-size: 240px 307px;
}
.electric-left-2{
    width:240px;height:307px;
    margin-top:15px;
    background: url("../imgs/imgs-MIUI/electric/electric-0-2.jpg");
    background-size: 240px 307px;
}
.electric-left-0:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    translation:transform 2s ease-in ;
}
.electric-main{
    float:left;
    width:960px;height:629px;
}
.electric-main-part{
    width:220px;height:304px;/*margin-top21*/
    margin-left:20px;
    background: white;
    float:left;
    position:relative;
    overflow: hidden;
}
.electric-main-part5{
    margin-top:21px;
}
.electric-main-part6{
    margin-top:21px;
}
.electric-main-part7{
    margin-top:21px;
}
/*.electric-main-part8{
    margin-top:21px;
    background: none;
}*/
.electric-main-part8-1{
    margin-top:21px;
    width:220px;height:140px;
    background: white;
    float:left;
    position:relative;
 }
.electric-main-part8-1-info1{
    width:100px;height:20px;
    line-height: 20px;
    font-size: 15px;
    position:absolute;left:30px;top:30px;
}
.electric-main-part8-1-info2{
    width:80px;height:20px;
    line-height: 20px;
    font-size: 14px;
    color:red;
    position:absolute;left:30px;top:60px;
}
.electric-main-part8-1-img{
    width:100px;height:100px;
    position:absolute;right:5px;top:20px;
    background: url("../imgs/imgs-MIUI/electric/electric-8.jpg");
    background-size: 100px 100px;
}
.electric-main-part8-2{
    margin-top:24px;
    width:220px;height:140px;
    background: white;
    float:left;
    position:relative;
}
.electric-main-part8-2-info1{
    width:90px;height:20px;
    line-height: 20px;
    font-size: 20px;
    position:absolute;left:30px;top:30px;
}
.electric-main-part8-2-info2{
    width:80px;height:20px;
    line-height: 20px;
    font-size: 14px;
    position:absolute;left:30px;top:60px;
}
.electric-main-part8-2-img{
    width:100px;height:100px;
    position:absolute;right:5px;top:20px;
    background: url("../imgs/imgs-MIUI/electric/tubiao.png") no-repeat 10px 20px;
    background-size: 70px 70px;
}
.electric-main-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    translation:transform 2s ease-in ;
}
.electric-main-part-new{
    width:70px;height:20px;
    margin:auto;
    background: #83c44e;
    font-size: 13px;
    color:white;
    line-height: 20px;
    text-align: center;
}
.electric-main-part-new1{
    background: #e53935;
}
.electric-main-part-new2{
    background: white;
}
.electric-main-part-tu{
    width:150px;height:150px;
    margin:10px auto 10px;
}
.electric-main-part-info1{
    width:180px;height:20px;
    margin:5px auto 0px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.electric-main-part-info2{
    width:180px;height:20px;
    margin:0px auto 0px;
    line-height: 20px;
    font-size: 9px;
    color: #999999;
    text-align: center;
}
.electric-main-part-money{
    width:180px;height:20px;
    margin:20px auto 0px;
    font-size: 18px;
    color:red;
    line-height: 20px;
    text-align: center;
}
.electric-main-part-money del{
    color: #999999;
}
.electric-main-part-tu1{
    background: url("../imgs/imgs-MIUI/electric/electric-1.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu2{
    background: url("../imgs/imgs-MIUI/electric/electric-2.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu3{
    background: url("../imgs/imgs-MIUI/electric/electric-3.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu4{
    background: url("../imgs/imgs-MIUI/electric/electric-4.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu5{
    background: url("../imgs/imgs-MIUI/electric/electric-5.png");
    background-size: 150px 150px;
}
.electric-main-part-tu6{
    background: url("../imgs/imgs-MIUI/electric/electric-6.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu7{
    background: url("../imgs/imgs-MIUI/electric/electric-7.png");
    background-size: 150px 150px;
}
.electric-main-part-tu8{
    background: url("../imgs/imgs-MIUI/electric/electric-8.jpg");
    background-size: 150px 150px;
}
.electric-main-part-pingjia{
    z-index: 3;
    width:220px;height:80px;
    background: orange;
    position:absolute;left:0px;bottom: -80px;
}
.electric-main-part-pingjia-1{
    line-height: 20px;
    width:200px;height:40px;
    font-size: 14px;
    text-align: center;
    color:white;
    position:absolute;left:10px;top: 10px;
}
.electric-main-part-pingjia-2{
    width:200px;height:20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color:white;
    position:absolute;left:10px;top: 55px;
}
.electric-main-part:hover .electric-main-part-pingjia{
    transform:translate(0px,-80px);
    transition:transform 1s ease-in;
}

/*-----米家自动泡沫洁面机----*/
.mijia{
    width:1200px;height:117px;
    margin:auto;
    background: url("../imgs/imgs-MIUI/card/mijia.jpg");
    background-size: 1200px 117px;
}

/*-----------智能--------*/
.electric{
    width:1200px;height:679px;
    margin:30px auto 30px;
}
.electric-top{
    float:left;
    width:1200px;height:50px;
}
.electric-top-name{
    width:100px;height:50px;
    float:left;
    font-size: 20px;
    line-height: 50px;
}
.electric-top-list{
    height:30px;
    margin-top: 10px;
    float:right;
    line-height: 30px;
}
.electric-top-list-s{
    height:30px;
    margin-left:20px;
    float:left;
}
.electric-top-list-s:hover{
    border-bottom: 2px orange solid;
}
.electric-left{
    width:240px;height:629px;
    float:left;
}
.electric-left-1{
    width:240px;height:307px;
    background: url("../imgs/imgs-MIUI/electric/electric-0-1.jpg");
    background-size: 240px 307px;
}
.electric-left-2{
    width:240px;height:307px;
    margin-top:15px;
    background: url("../imgs/imgs-MIUI/electric/electric-0-2.jpg");
    background-size: 240px 307px;
}
.electric-left-0:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    translation:transform 2s ease-in ;
}
.electric-main{
    float:left;
    width:960px;height:629px;
}
.electric-main-part{
    width:220px;height:304px;/*margin-top21*/
    margin-left:20px;
    background: white;
    float:left;
    position:relative;
    overflow: hidden;
}
.electric-main-part5{
    margin-top:21px;
}
.electric-main-part6{
    margin-top:21px;
}
.electric-main-part7{
    margin-top:21px;
}
/*.electric-main-part8{
    margin-top:21px;
    background: none;
}*/
.electric-main-part8-1{
    margin-top:21px;
    width:220px;height:140px;
    background: white;
    float:left;
    position:relative;
}
.electric-main-part8-1-info1{
    width:100px;height:20px;
    line-height: 20px;
    font-size: 15px;
    position:absolute;left:30px;top:30px;
}
.electric-main-part8-1-info2{
    width:80px;height:20px;
    line-height: 20px;
    font-size: 14px;
    color:red;
    position:absolute;left:30px;top:60px;
}
.electric-main-part8-1-img{
    width:100px;height:100px;
    position:absolute;right:5px;top:20px;
    background: url("../imgs/imgs-MIUI/electric/electric-8.jpg");
    background-size: 100px 100px;
}
.electric-main-part8-2{
    margin-top:24px;
    width:220px;height:140px;
    background: white;
    float:left;
    position:relative;
}
.electric-main-part8-2-info1{
    width:90px;height:20px;
    line-height: 20px;
    font-size: 20px;
    position:absolute;left:30px;top:30px;
}
.electric-main-part8-2-info2{
    width:80px;height:20px;
    line-height: 20px;
    font-size: 14px;
    position:absolute;left:30px;top:60px;
}
.electric-main-part8-2-img{
    width:100px;height:100px;
    position:absolute;right:5px;top:20px;
    background: url("../imgs/imgs-MIUI/electric/tubiao.png") no-repeat 10px 20px;
    background-size: 70px 70px;
}
.electric-main-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    /*translation:transform 2s ease-in ;*/
    transition:transform 1s ease-in;
}
.electric-main-part-new{
    width:70px;height:20px;
    margin:auto;
    background: #83c44e;
    font-size: 13px;
    color:white;
    line-height: 20px;
    text-align: center;
}
.electric-main-part-new1{
    background: #e53935;
}
.electric-main-part-new2{
    background: white;
}
.electric-main-part-tu{
    width:150px;height:150px;
    margin:10px auto 10px;
}
.electric-main-part-info1{
    width:180px;height:20px;
    margin:5px auto 0px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.electric-main-part-info2{
    width:180px;height:20px;
    margin:0px auto 0px;
    line-height: 20px;
    font-size: 9px;
    color: #999999;
    text-align: center;
}
.electric-main-part-money{
    width:180px;height:20px;
    margin:20px auto 0px;
    font-size: 18px;
    color:red;
    line-height: 20px;
    text-align: center;
}
.electric-main-part-money del{
    color: #999999;
}
.electric-main-part-tu1{
    background: url("../imgs/imgs-MIUI/electric/electric-1.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu2{
    background: url("../imgs/imgs-MIUI/electric/electric-2.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu3{
    background: url("../imgs/imgs-MIUI/electric/electric-3.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu4{
    background: url("../imgs/imgs-MIUI/electric/electric-4.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu5{
    background: url("../imgs/imgs-MIUI/electric/electric-5.png");
    background-size: 150px 150px;
}
.electric-main-part-tu6{
    background: url("../imgs/imgs-MIUI/electric/electric-6.jpg");
    background-size: 150px 150px;
}
.electric-main-part-tu7{
    background: url("../imgs/imgs-MIUI/electric/electric-7.png");
    background-size: 150px 150px;
}
.electric-main-part-tu8{
    background: url("../imgs/imgs-MIUI/electric/electric-8.jpg");
    background-size: 150px 150px;
}
.electric-main-part-pingjia{
    z-index: 3;
    width:220px;height:80px;
    background: orange;
    position:absolute;left:0px;bottom: -80px;
}
.electric-main-part-pingjia-1{
    line-height: 20px;
    width:200px;height:40px;
    font-size: 14px;
    text-align: center;
    color:white;
    position:absolute;left:10px;top: 10px;
}
.electric-main-part-pingjia-2{
    width:200px;height:20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color:white;
    position:absolute;left:10px;top: 55px;
}
.electric-main-part:hover .electric-main-part-pingjia{
    transform:translate(0px,-80px);
    transition:transform 1s ease-in;
}

/*-------------小米笔记本------*/
.air{
    width:1200px;height:117px;
    margin:auto;
    background: url("../imgs/imgs-MIUI/card/air.jpg");
    background-size: 1200px 117px;
}

/*-----------为你推荐------*/
.for{
    width:1200px;height:354px;
    margin:auto;
    position:relative;
    overflow: hidden;
}
.for .phone-main-part{
    margin:0 11px 0;
    float:left;
}
.for .phone-main-part1{
    margin-left: 0px;
}
.for .phone-main-part5{
    position:absolute;right:-8px; top:50px;
}

/*---------热评产品------*/
.hot{
    width:1200px;height:480px;
    margin:30px auto;
}
.hot-top{
    width:1200px;height:50px;
    line-height: 50px;
    font-size: 20px;
}
.hot-main{
    width:1200px;height:430px;
}
.hot-main-part{
    width:285px;height:430px;
    float:left;
    margin-left: 20px;
    background: white;
}
.hot-main-part1{
    margin-left: 0px;
}
.hot-main-part-tu{
    width:285px;height:211px;
}
.hot-main-part-miaoshu{
    width:240px;height:90px;
    margin: 25px auto 25px;
    line-height: 30px;
    font-size: 14px;
}
.hot-main-part-pingjia{
    width:240px;height:20px;
    margin: auto;
    font-size: 12px;
    color: #999999;
}
.hot-main-part-info{
    width:240px;height:30px;
    margin: auto;
}
.hot-main-part-info a{
    color: red;
}
.hot-main-part-tu1{
     background:url("../imgs/imgs-MIUI/hot/hot1.jpg") no-repeat;
     background-size: 285px 211px;
 }
.hot-main-part-tu2{
    background:url("../imgs/imgs-MIUI/hot/hot2.jpg");
    background-size: 285px 211px;
}
.hot-main-part-tu3{
    background:url("../imgs/imgs-MIUI/hot/hot3.jpg");
    background-size: 285px 211px;
}
.hot-main-part-tu4{
    background:url("../imgs/imgs-MIUI/hot/hot4.jpg");
    background-size: 285px 211px;
}
.hot-main-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    transition:transform 0.5s ease-in;
}

/*--------内容----------*/
.content{
    width:1200px;height:480px;
    margin:30px auto;
}
.content-top{
    width:1200px;height:50px;
    line-height: 50px;
    font-size: 20px;
}
.content-main{
    width:1200px;height:430px;
}
.content-main-part{
    width:285px;height:430px;
    float:left;
    margin-left: 20px;
    background: white;
}
.content-main-part1{
    margin-left: 0px;
}
.content-main-part-type{
    width:250px;height:20px;
    line-height: 20px;
    text-align: center;
    color:orange;
    font-size: 17px;
    margin: 50px auto 0px;
}
.content-main-part-name{
    width:260px;height:30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto 0px;
}
.content-main-part-info{
    width:250px;height:40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #999999;
    margin: 0px auto 0px;
}
.content-main-part-price{
    width:250px;height:20px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 10px auto 0px;
}
.content-main-part-img{
    width:216px;height:154px;
    margin: auto;
    margin: 20px auto 0px;
}
.content-main-part-img1{
    background: url("../imgs/imgs-MIUI/content/tu1.png") no-repeat 10px 10px;
}
.content-main-part-img2{
    background: url("../imgs/imgs-MIUI/content/tu2.png");
}
.content-main-part-img3{
    background: url("../imgs/imgs-MIUI/content/tu3.png");
}
.content-main-part-img4{
    background: url("../imgs/imgs-MIUI/content/tu4.png");
}
.content-main-part-yuan{
    width:50px;height:20px;
    color:orange;
    margin: 20px auto 0px;
}
.content-main-part-yuan-1{
    width:6px;height:6px;
    border:2px orange solid;
    border-radius: 50%;
    background:#ffffff;
    float:left;
}
.content-main-part-yuan-2{
    width:0px;height:0px;
    border:3px #cccccc solid;
    border-radius: 50%;
    float:left;
    margin: 2px 0 0 10px ;
}
.content-main-part-yuan-3{
    width:0px;height:0px;
    border:3px #cccccc solid;
    border-radius: 50%;
    float:left;
    margin: 2px 0 0 10px ;
}
.content-main-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    transition:transform 0.5s ease-in;
}

/*---------视频-------------*/
.shipin{
    width:1200px;height:320px;
    margin:auto;
}
.shipin-top{
    width:1200px;height:50px;
    line-height: 50px;
    font-size: 20px;
}
.shipin-part{
    width:285px;height:270px;
    background: white;
    float:left;
    margin-left:20px;
    position: relative;
}
.shipin-part1{
    margin-left:0px;
}
.shipin-part-img{
    width:285px;height:173px;
}
.shipin-part-img1{
    background: url("../imgs/imgs-MIUI/shipin/tu1.jpg");
    background-size: 285px 173px;
}
.shipin-part-img2{
    background: url("../imgs/imgs-MIUI/shipin/tu2.jpg");
    background-size: 285px 173px;
}
.shipin-part-img3{
    background: url("../imgs/imgs-MIUI/shipin/tu3.jpg");
    background-size: 285px 173px;
}
.shipin-part-img4{
    background: url("../imgs/imgs-MIUI/shipin/tu4.jpg");
    background-size: 285px 173px;
}
.shipin-part-info{
    width:250px;height:20px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
}
.shipin-part-text{
    width:250px;height:20px;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    font-size: 13px;
}
.shipin-part-tu{
    width:40px;height:40px;
    position: absolute;left:20px;top:120px;
    background: url("../imgs/imgs-MIUI/shipin/mi-video-button-white.png");
    background-size: 40px 40px;
}
.shipin-part:hover .shipin-part-tu{
    background: url("../imgs/imgs-MIUI/shipin/mi-video-button-orange.png");
    background-size: 40px 40px;
}
.shipin-part:hover{
    transform:translate(0px,-3px);
    box-shadow:0px 0px 20px #bbbbbb;
    transition:transform 0.5s ease-in;
}


/*--------帮助----------*/
.help{
    margin-top: 20px;
    width:100%;height:280px;
    background: white;
}
.help-con{
    width:1200px;height:280px;
    margin:auto;
}
.help-con-up{
     width:1200px;height:80px;
 }
.help-con-down{
    width:1200px;height:200px;
    border-top:#cccccc 1px solid;
}
.help-con-up-0{
    width:240px;height:80px;
    float:left;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    border-right: #cccccc 1px solid;
    box-sizing: border-box;
}
.help-con-up-1{
    background: url("../imgs/imgs-MIUI/help/tu1.png")no-repeat 20px 20px ;
}
.help-con-up-2{
    background: url("../imgs/imgs-MIUI/help/tu2.png")no-repeat 20px 20px ;
}
.help-con-up-3{
    background: url("../imgs/imgs-MIUI/help/tu3.png")no-repeat 20px 20px ;
}
.help-con-up-4{
    background: url("../imgs/imgs-MIUI/help/tu4.png")no-repeat 20px 20px ;
}
.help-con-up-5{
    border-right:none;
     background: url("../imgs/imgs-MIUI/help/tu5.png")no-repeat 20px 20px ;
}
.help-con-up-1:hover {
    background: url("../imgs/imgs-MIUI/help/tu1-1.png")no-repeat 20px 20px ;
}
.help-con-up-1:hover a{
    color:orange;
}
.help-con-up-2:hover {
    background: url("../imgs/imgs-MIUI/help/tu2-2.png")no-repeat 20px 20px ;
}
.help-con-up-2:hover a{
    color:orange;
}
.help-con-up-3:hover {
    background: url("../imgs/imgs-MIUI/help/tu3-3.png")no-repeat 20px 20px ;
}
.help-con-up-3:hover a{
    color:orange;
}
.help-con-up-4:hover {
    background: url("../imgs/imgs-MIUI/help/tu4-4.png")no-repeat 20px 20px ;
}
.help-con-up-4:hover a{
    color:orange;
}
.help-con-up-5:hover {
    background: url("../imgs/imgs-MIUI/help/tu5-5.png")no-repeat 20px 20px ;
}
.help-con-up-5:hover a{
    color:orange;
}
.help-con-down-0{
    width:160px;height:200px;
    float:left;
    box-sizing: border-box;
}
.help-con-down-0 h6{
    margin: 10px 0 0 0;
}
.help-con-down-7{
    width:240px;height:200px;
    border-left:1px solid #cccccc;
    float:right;
}
.help-con-down-7-1{
    width:240px;height:30px;
    font-size: 22px;
    line-height: 30px;
    color:orange;
    margin-top:30px;
    text-align: center;
}
.help-con-down-7-2{
    width:200px;height:40px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    margin-top:10px;
    margin:auto;
}

.help-con-down-7-3{
    width:120px;height:30px;
    margin:auto;
    margin-top:20px;
    text-align: center;
    line-height: 30px;
    border:orange 1px solid;
}
.help-con-down-7-3:hover{
    background:orange;
}
.help-con-down-7-3:hover a{
    color:white;
}

/*---------底部---------*/
.foot{
    width:1200px;height:200px;
    margin:30px auto 50px;
}
.foot-logo{
    width:56px;height:57px;
    background: url("../imgs/imgs-MIUI/foot/logo-footer.png");
    background-size: 56px 57px;
    float:left;
}
.foot-part{
    width:1130px;height:200px;
    float:left;
    margin-left:14px;
}
.foot-part-1{
    width:1130px;height:20px;
    line-height: 20px;
    font-size: 13px;
}
.foot-part-1 a{
    color: black;
}
.foot-part-1 a:hover{
    color: orange;
}
.foot-part-2{
    width:1130px;height:80px;
    line-height: 20px;
    font-size: 12px;
}
.foot-part-2 a{
    color: #999999;
}
.foot-part-2 a:hover{
    color: orange;
}
.foot-part-3{
    margin-top: 10px;
    width:1130px;height:50px;
}
.foot-part-4{
    width:1130px;height:30px;
    line-height: 50px;
    text-align: center;
    color: #cccccc;
    font-weight: bold;
}


