.card{
    width: ;
    height: ;
    border:;
    margin-left: ;
    margin-right: ;
}
.card-top-right{

}
.card-top-left{
 左浮动 宽度 行高
}
ul card-bottom
    li card-bottom-opt 20% 140
        div card-bottom-opt-top
                div card-bottom-opt-top-one 3
        div card-bottom-opt-middle
                div card-bottom-opt-middle-one
        div card-bottom-opt-bottom
                div card-bottom-opt-bottom-one 4
